@import '~@gtms/styles/scss/variables.scss';

.wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  opacity: 1;

  a {
    svg {
      width: 25px;
      height: 25px;
      fill: $theme4;
    }
    display: block;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    background-color: $theme0;
  }
}
