@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  background: $theme2;
}

.wrapper {
  width: 100%;
  max-width: 780px;
  margin: auto;

  .searchBarWrapper {
    display: flex;
    padding: 10px;
    margin: 20px 0;
    border-radius: $borderRadius;

    .btnTags {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonColorsDefault();
      position: relative;
      margin-right: 15px;

      &.active,
      &:hover,
      &:focus {
        @include buttonColorsPrimary();
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        right: -8px;
        width: 1px;
        height: 15px;
        background: $theme3;
      }

      &::before {
        right: -7px;
        background: $theme0;
      }
    }
  }

  .tabs {
    display: flex;
    gap: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 20px 0;

    li {
      padding: 5px 10px;
      border-radius: $borderRadius;
      background: $theme3;

      a {
        display: flex;
        align-items: center;
        @include fontSize(xxs);

        i {
          line-height: 0;
          margin-right: 5px;
        }

        span {
          margin-left: 5px;
          @include fontSize(default);
        }
      }

      &.active,
      &:hover {
        background: $theme4;

        a {
          color: $theme0;
        }
      }
    }
  }
}
