@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper('bgdefault');
}

.tabs {
  margin-bottom: 20px;
  ul {
    border-bottom: 1px solid $theme13;
    li {
      position: relative;
      bottom: -1px;
      padding: 5px 35px;
      display: inline-block;
      margin: 0 5px;
      border: 1px solid $theme13;
      border-bottom: 1px solid $theme0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      a {
        @include font-size(md);
        cursor: pointer;
        text-transform: uppercase;
        color: $theme9;

        span {
          @include font-size(default);
        }
      }

      &.active {
        background-color: $theme9;

        a {
          color: $theme0;
          @include font-weight(semiBold);
        }
      }
    }
  }
}

.wrapper {
  width: 100%;
  padding: 20px;

  .coverImage {
    max-width: 500px;

    .header {
      @include font-size(xlg);
      color: $theme9;
      text-align: center;

      span {
        @include font-weight(semiBold);
      }
    }
  }

  .searchBarWrapper {
    display: flex;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid $theme1;
    border-radius: $borderRadius;

    .btnTags {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonColorsSecondary();
      position: relative;
      margin-right: 15px;

      &.active,
      &:hover,
      &:focus {
        @include buttonColorsPrimary();
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        right: -8px;
        width: 1px;
        height: 15px;
        background: $theme9;
      }

      &::before {
        right: -7px;
        background: $theme0;
      }
    }
  }
}
