@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.btn {
  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapePrimary();
  @include buttonWithIcon();
  @include buttonWithSpinner();
  @include buttonColorsDefault();
  @include buttonWithoutBackground();

  &:hover {
    @include buttonColorBlue();
  }

  &.isLoading {
    padding-left: 55px;
    position: relative;

    .loader {
      position: absolute;
      width: 45px;
      left: 5px;
    }
  }
}
