@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.btn {
  @include buttonDefault();
  @include buttonSizeSm();
  @include buttonShapeDefault();
  @include buttonWithSpinnerAndLabel();
  @include buttonColorsDefault();
  @include fontSize(xmd);
  width: 100%;
  color: $theme0;

  &:hover {
    @include buttonColorsPrimary();
  }

  span {
    display: none;
  }
}
