@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  min-width: 450px;

  .close {
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
  }

  .header {
    @include fontSize(lg);
    @include fontWeight(semiBold);
  }

  .btnSubmit {
    @include buttonDefault();
    @include buttonShapeDefault();
    @include buttonSizeDefault();
    @include buttonWithSpinnerAndLabel();
    @include buttonColorsDefault();
    width: 100%;

    &:hover {
      @include buttonColorsPrimary();
    }
  }

  .item {
    margin-bottom: 15px;

    label {
      padding-bottom: 5px;
      display: block;
    }
  }
}
