@import '~@gtms/styles/scss/mixins/buttons.scss';

.btnSubmit {
  @include buttonDefault();
  @include buttonShapeDefault();
  @include buttonSizeDefault();
  @include buttonWithSpinner();
  @include buttonColorsDefault();
  width: 100%;

  &:hover {
    @include buttonColorsPrimary();
  }
}

.item {
  margin-bottom: 15px;

  label {
    padding-bottom: 5px;
    display: block;
  }
}

.wrapper {
  padding: 25px;
  min-width: 450px;
}

.close {
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}
