@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  > div {
    width: 60%;
    text-align: center;

    .header {
      // @todo make mixin of that
      font-size: 3em;
      text-transform: uppercase;
      @include font-weight(bold);
    }
  }
}
