@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';

.btnDeleteGroup {
  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapeDefault();
  @include buttonColorsSecondary();
  margin-top: 50px;

  &:hover {
    @include buttonColorsPrimary();
  }
}

.modal {
  background: none;

  .ohnoimage {
    width: 100%;
    padding-bottom: 0;

    img {
      max-width: 400px;
      padding: 20px;
      padding-bottom: 0px;
      border-radius: $borderRadius;
      background: $theme3;
    }
  }

  .buttons {
    margin-top: 20px;
    @include gridTwoButtons();
    width: 100%;

    .btn {
      width: 100%;
      @include buttonWithIcon('left');
    }
  }
}
