@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper('bgdefault');
}

.wrapper {
  width: 100%;
  margin-top: 20px;
  padding: 20px;

  .section {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    .header {
      @include font-size(lg);
      @include font-weight(semiBold);
    }
  }

  .noRecords {
    width: 100%;

    > div {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
