@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  background: $theme2; 

  .wrapper {
    width: 100%;
    padding: 10px;
  
    
    .noRecords {
      text-align: center;
      @include fontSize(lg);
      @include fontWeight(semiBold);
    }
  }  
}
