@import 'scss/variables.scss';

.textarea {
  width: 100%;
  height: 40px;
  color: $theme6;
  border: none;
  border-bottom: 1px solid $theme6;
  background: none;
  transition: height 1s;
  outline: none; // @todo create proper support of outline for screen readers etc.

  &:hover {
    border-color: $theme4;
    height: 90px;
  }
}
