@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons';
@import '~@gtms/styles/scss/mixins/imageCover';

.wrapper {
  display: flex;
  height: 100%;
  background-color: $theme0;

  .left {
    position: relative;
    width: 40%;
    padding: 0 40px;

    > div {
      width: 100%;
      margin-top: 40px;

      h2,
      p {
        font-weight: 600;
        color: $theme2;
        margin-bottom: 15px;
      }

      h2 {
        font-size: 3em;
        text-transform: uppercase;
      }

      p {
        font-weight: 200;

        &:last-child {
          margin-bottom: 40px;
        }
      }

      .actionButtons {
        display: flex;
        margin: 10px 0;

        > button:first-child {
          margin-right: 10px;
        }

        > button {
          width: 100%;
          @include buttonDefault();
          &:hover {
            @include buttonColorsHoverDefault();
          }
        }
      }

      .btn {
        // @todo create proper mixin for button
        display: inline-block;
        width: 220px;
      }

      .socialButtons {
        > div:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .right {
    width: 60%;
    @include imageCover();
  }
}
