@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons';
@import '~@gtms/styles/scss/mixins/imageCover';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  display: flex;
  background: $theme0;
  width: 100%;
  height: 100vh;

  .left {
    position: relative;
    width: 40%;
    padding: 0 40px;

    h2,
    p {
      @include font-weight(bold);
      margin-bottom: 15px;
    }

    h2 {
      font-size: 3em;
      text-transform: uppercase;
      margin-top: 30px;
    }

    p {
      @include font-weight(light);

      &:last-child {
        margin-bottom: 40px;
      }
    }

    .actionButtons {
      display: flex;
      margin: 10px 0;

      .btn {
        width: 100%;
        @include buttonDefault();
        @include buttonColorsDefault();

        &:hover {
          @include buttonColorsHoverDefault();
        }

        &:first-child {
          margin-right: 10px;
        }
      }
    }

    .socialButtons {
      > div:first-child {
        margin-right: 10px;
      }
    }
  }

  .right {
    width: 60%;
    @include imageCover();
  }
}
