@import '../node_modules/reset-css/sass/reset';
@import './resetCustom.scss';
@import './variables.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
body > div:first-of-type {
  height: 100%;
}

body {
  background: $theme1;
  font-family: 'Lato,sans-serif', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}
