@import '../node_modules/reset-css/sass/reset';
@import './variables.scss';

html {
  font-family: $defaultFontFamily;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $theme7;
  color: $theme6;
}

html,
body,
body > div:first-of-type {
  height: 100%;
}
