$defaultFontFamily: 'Lato,sans-serif', 'Open Sans', 'Helvetica Neue', sans-serif;

* {
  font-family: $defaultFontFamily;
  box-sizing: border-box;
}

/*screen sizes*/
$breakpoint-sm: 500px !default;
$breakpoint-md: 769px !default;
$breakpoint-lg: 1025px !default;
$breakpoint-xl: 2000px !default;

$theme1: rgb(23, 28, 43);
$theme2: #1f1f1f;
$theme3: #72cc57;
$theme4: rgb(245, 93, 28);
$theme5: rgba(239, 68, 68, 0.15);
$theme6: #fff;
$theme7: #0c0f17;
$theme8: #000;
