@import '@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  color: $theme9;

  header {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .header {
      @include font-size(xxlg);
    }

    a {
      @include font-size(xxlg);
      @include font-weight(bold);
      margin-left: 10px;
      cursor: pointer;
    }

    .inputWrapper {
      margin-left: 10px;

      input {
        background: black;
        min-width: 300px;
        border: none;
        padding: 5px;
        color: $theme9;
        border-bottom: 1px solid $theme9;
      }
    }
  }
}
