@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  color: $theme3;

  header {
    display: flex;
    align-items: baseline;

    .header {
      @include fontSize(xxlg);
    }

    a {
      @include fontSize(xxlg);
      @include fontWeight(semiBold);
      margin-left: 10px;
      cursor: pointer;
    }

    .inputWrapper {
      margin-left: 10px;

      input {
        background: black;
        min-width: 300px;
        border: none;
        padding: 5px;
        color: $theme3;
        border-bottom: 1px solid $theme3;
      }
    }
  }
}
