@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/mediaQueries.scss';

.groupHeaderComponent {
  position: relative;
  display: flex;
  gap: 5px;
  width: 100%;
  transition: top $animationSpeedSlow;

  @include for-phone-only {
    margin-top: 0;
  }

  .search {
    // @todo remove it when search will be finished
    [class*='inputWrapper'] {
      height: 35px;

      i {
        top: 9px;
      }
    }
  }
}
