@import 'scss/variables';

.button {
  justify-content: center;
  display: flex;
  cursor: pointer;
  padding: $margin3;
  border: none;
  background: $theme2;
  color: white;
  text-transform: uppercase;

  &:hover {
    background: $theme5;
    transition: 0.3s all;
  }
}
