@import '@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/buttons';

.searchBar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;

  .inputWrapper {
    display: flex;
    flex-basis: 100%;

    i {
      display: flex;
      align-items: center;
      @include font-size(lg);
    }

    input[type='text'] {
      display: block;
      width: 100%;
      padding-bottom: 5px;
      border: none;
      font-size: 14px;
      background: none;

      &:active,
      &:focus,
      &:hover {
        outline: none;
      }
    }

    .suggestions {
      position: absolute;
      left: 0;
      bottom: -50px;
      width: 100%;
      padding: 10px;
      min-height: 50px;
      background-color: $theme7;

      button.tag {
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.tags {
  display: flex;

  &.independent {
    margin-top: 5px;
  }

  .tag {
    &:first-child {
      margin-left: 0;
    }
  }
}

.tag {
  @include buttonDefault();
  @include buttonColorsDefault();

  &:hover {
    @include buttonColorsPrimary();
  }
}
