@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/inputs.scss';
@import '~@gtms/styles/scss/mixins/zindex.scss';

.searchBar {
  position: relative;
  width: 100%;

  .inputWrapper {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 34px;
    height: 34px;

    i {
      @include fontSize(md);
      position: absolute;
      top: 8px;
      left: 8px;
      line-height: 0;
      color: $theme1;
    }

    input[type='text'] {
      width: 100%;
      padding-left: 30px;
      border: 0;
      border-radius: $borderRadius;
      box-shadow: $boxShadowDefault;
      background: $theme0;
      @include fontWeight(light);

      &::placeholder {
        color: $theme1;
      }

      &:active,
      &:focus,
      &:hover {
        outline: none;
        color: $theme1;
      }
    }

    .suggestions {
      position: absolute;
      left: 0;
      top: 36px;
      width: 100%;
      padding: 10px;
      min-height: 50px;
      background-color: $theme0;
      @include z-index(searchBar);
      border-left: 2px solid $theme4;
      border-right: 2px solid $theme4;
      border-bottom: 2px solid $theme4;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      button.tag {
        color: $theme1;
        &:first-child {
          margin-left: 0;
        }
      }

      ul {
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.tags {
  display: flex;
  gap: 10px;

  &.independent {
    margin-top: 5px;
  }

  .tagBtn {
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapeDefault();
    @include buttonColorsDefault();
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      @include buttonColorsPrimary();
    }
  }
}
