@import '@gtms/styles/scss/variables';

.searchBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;

  &:hover {
    background: $theme3;
  }

  &:active,
  &:focus {
    background: $theme5;
  }
}
