@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.groupSidebar {
  position: relative;
  width: 250px;
  background: $theme0;
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
  box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.1);
  color: $theme9;
  transition: width 500ms;

  &.active {
    width: 250px;
  }

  .makeItSticky {
    position: sticky;
    top: 0;

    .avatarNamedDesc {
      padding: 10px;
      display: block;

      &:hover {
        cursor: pointer;
        color: $theme4;
      }

      .avatarName {
        display: flex;
        align-items: center;

        .groupAvatar {
          picture {
            border-radius: $borderRadius;
            overflow: hidden;
          }
        }

        .header {
          @include font-size(xdefault);
          @include font-weight(semiBold);
          margin-left: 10px;
        }
      }

      .desc {
        margin-top: 5px;
        @include font-size(sm);
        @include font-weight(semiBold);
      }
    }
  }
}
