@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.groupSidebar {
  display: flex;
  grid-gap: 8px;

  .avatarAndName {
    display: none;

    .groupAvatar {
      width: 35px;
      height: 35px;

      picture {
        border-radius: $borderRadius;
        box-shadow: $boxShadowDefault;
        overflow: hidden;
      }
    }

    .header {
      width: 100%;
      margin-left: 8px;
      @include fontSize(xdefault);
      @include fontWeight(semiBold);
      color: $theme0;
      display: none;
    }

    .desc {
      margin-top: 5px;
      @include fontSize(sm);
      display: none;
    }
  }

  .tagsbutton {
    @include buttonDefault();
    @include buttonSizeSm();
    @include buttonShapeDefault();
    @include buttonColorsDefault();
    width: 100%;
    min-width: 35px;
    height: 35px;

    &:hover,
    &.active {
      background: $theme4;
    }

    span {
      display: none;
    }

    i {
      line-height: 0;
      @include fontSize(md);
    }
  }
}
