@import 'scss/variables.scss';
// @import 'scss/mixins/zindex';
// @import 'scss/mixins/button.scss';

.wrapper {
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    color: $theme5;
  }
}
