@import 'scss/variables';
@import 'scss/fontSize';

$duration: 1s;

@mixin checked() {
  ~ .checkmark {
    transform: translate(2em);
    background: $theme5;

    span {
      display: none;
    }

    svg {
      display: block;
    }
  }
}

// @todo some of this scss may be refactored - its almost copied and pasted
.wrapper {
  position: relative;
  width: 4em;
  transition: transform $duration ease;
  cursor: pointer;
  background: $theme7;

  .inputCheckbox {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;

    // for native input check
    &:checked {
      @include checked;

      svg {
        display: block;
      }
    }
  }

  .checkmark {
    position: relative;
    width: 2em;
    height: 1.5em;
    transition: transform $duration ease;
    background: $theme3;
    color: $theme7;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      @include font-size(xs);
    }

    svg {
      display: none;
      width: 0.9em;
    }
  }

  // for controlled input check (checked = {true} prop)
  &.checked {
    .inputCheckbox {
      @include checked;
    }
  }
}
