@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  &:hover {
    .items {
      border-color: $theme4;
    }
  }

  .spinner {
    margin: 10px auto;
  }

  .noRecords {
    padding: 10px;
    text-align: center;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 8px;
    @include fontWeight(semiBold);
    cursor: pointer;

    li {
      display: flex;
      align-items: center;
      padding: 5px;
      border-radius: $borderRadius;
      text-transform: uppercase;
      @include fontSize(xs);
      background: $theme2;
      color: $theme0;
      cursor: pointer;

      i {
        line-height: 0;
        margin-right: 5px;
        display: inline;
      }

      &.active,
      &:hover {
        background: $theme4;
      }
    }
  }

  .items {
    .item {
      a {
        display: flex;
        align-items: center;
        padding: 5px;
        margin-top: 5px;
        border-radius: $borderRadius;
        background: $theme2;
        cursor: pointer;

        img {
          min-width: 40px;
          max-width: 40px;
          min-height: 40px;
          height: 40px;
          border-radius: $borderRadius;
        }

        .desc {
          margin: 0;
          margin-left: 5px;
          opacity: 0.9;

          span {
            display: block;
            @include fontSize(xxs);
            @include fontWeight(semiNormal);
            line-height: 1.1;
            word-break: break-all;
            opacity: 0.7;
          }
        }

        &:hover {
          background: $theme4;

          .desc {
            opacity: 1;

            span {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
