@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  position: relative;
  z-index: 22;
  width: auto;
  height: 100%;

  &.active {
    min-width: 240px;
  }

  .btn {
    @include buttonDefault();
    @include buttonSizeMd();
    @include buttonShapeDefault();
    @include buttonWithIcon('left');
    @include buttonColorsDefault();
    margin-top: 10px;
    padding: 11px; // @todo fix it soon, make some button mixin size or something

    &:hover {
      @include buttonColorsPrimary();
    }
  }

  .fixedWrapper {
    position: fixed;
    z-index: 10;
    width: 240px;
    height: 100%;
  }

  &:hover {
    .items {
      border-color: $theme4;
    }
  }

  .spinner {
    margin: 10px auto;
  }

  .noRecords {
    padding: 10px;
    @include fontSize(xs);
    text-align: center;
    border-radius: $borderRadius;
    background: $theme3;
  }

  .navWrapper {
    display: flex;
    align-items: center;

    .nav {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 8px;
      @include fontWeight(semiBold);
      padding: 6px;
      margin-top: 10px;
      border-radius: $borderRadius;
      background: $theme3;
      cursor: pointer;

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: $borderRadius;
        text-transform: uppercase;
        @include fontSize(xs);
        background: $theme3;
        color: $theme0;
        cursor: pointer;

        i {
          line-height: 0;
          margin-right: 5px;
          display: inline;
        }

        &.active,
        &:hover {
          background: $theme4;
        }
      }
    }

    .btnClose {
      @include buttonDefault();
      @include buttonSizeMd();
      @include buttonShapeDefault();
      @include buttonWithIcon('left');
      @include buttonColorsDefault();
      margin-left: auto;

      &:hover {
        @include buttonColorsPrimary();
      }
    }
  }

  .items {
    margin-bottom: 10px;

    .item {
      a {
        display: flex;
        align-items: center;
        padding: 5px;
        margin-top: 5px;
        border-radius: $borderRadius;
        background: $theme3;
        cursor: pointer;

        img {
          min-width: 40px;
          max-width: 40px;
          min-height: 40px;
          margin-right: 5px;
          height: 40px;
          border-radius: $borderRadius;
        }

        .desc {
          margin: 0;
          opacity: 0.9;

          span {
            display: block;
            @include fontSize(xxs);
            @include fontWeight(semiNormal);
            line-height: 1.1;
            word-break: break-all;
            opacity: 0.7;
          }
        }

        &:hover {
          background: $theme4;

          .desc {
            opacity: 1;

            span {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
