@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  width: 100px;
  display: flex;

  .items {
    display: flex;
    gap: 10px;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 30px;
      min-height: 30px;
      padding: 5px 10px;
      border: 2px solid $theme9;
      border-radius: $borderRadius;
      @include font-weight(semiBold);
      cursor: pointer;

      .icon {
        line-height: 0;
      }

      &:hover,
      &.active {
        background: $theme4;
        border-color: $theme4;
        color: $theme0;
      }
    }
  }
}
