@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.items {
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    h2,
    h3 {
      @include font-size('md');
      margin-left: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
