@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.items {
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    h2,
    h3 {
      margin-left: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.btnSubmit {
  width: 100%;
  margin-top: 15px;
  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapePrimary();
  @include buttonColorsDefault();
  &:hover {
    @include buttonColorsPrimary();
  }
}
