@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.checkboxes {
  .item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    > div {
      display: flex;
      align-items: center;
    }

    label {
      @include fontWeight(semiBold);
      @include fontSize(xdefault);
      margin-left: 8px;
    }

    span {
      display: block;
      margin-top: 8px;
      margin-left: 10px;
      opacity: 0.8;
      font-style: italic;
      @include fontSize(sm);
    }
  }
}

.btn {
  width: 100%;
  margin-top: 10px;
  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapeDefault();
  @include buttonColorsSecondary();
  @include buttonWithSpinnerAndLabel(left);

  &:hover {
    @include buttonColorsPrimary();
  }
}
