@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/imageCover';

.wrapper {
  .items {
    .item {
      display: flex;
      margin-bottom: 15px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      .image {
        @include imageCover();
        width: 120px;
        min-width: 120px;
        height: 80px;
        min-height: 80px;
        margin-right: 10px;
        border-radius: $borderRadius;
      }

      h3 {
        @include font-size(md);
        @include font-weight(bold);
      }

      p {
        opacity: 0.65;
      }

      &:hover {
        h3 {
          color: $theme5;
        }

        p {
          opacity: 1;
        }
      }
    }
  }
}
