@import '~@gtms/styles/scss/variables.scss';

.textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: $theme1;
  border-width: 2px;
  border-radius: $borderRadius;
  resize: vertical;
}

.hidden {
  display: none;
}
