@import '~@gtms/styles/scss/variables';

.textarea {
  width: 100%;
  height: 100%;
  min-height: 40px;
  border: 1px solid $theme1;
  color: $theme5;
  padding: 5px;
  background: $theme0;

  &:active,
  &:focus,
  &:hover {
    outline: none;
    border-color: $theme3;
  }
}
.hidden {
  display: none;
}
