@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/imageCover';
@import '~@gtms/styles/scss/mixins/shadows';

.wrapper {
  .items {
    // @todo make mixin of that
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .item {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      border-radius: $borderRadius;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include shadowBoxWithDescription();
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 4px solid $theme4;
        background: rgba($theme4, 0.2);
        border-radius: $borderRadius;
        opacity: 0;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }

      img {
        width: 100%;
      }

      .desc {
        position: absolute;
        z-index: 1;
        bottom: 0;
        padding: 10px;
        width: 100%;
        color: $theme0;

        h3 {
          @include font-size(md);
          @include font-weight(semiBold);
        }
      }

      .adminPanel {
        position: absolute;
        bottom: 0;
        right: 0;

        ul {
          margin: 0;

          li {
            display: inline-block;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.addTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: $borderRadius;
  height: 210px; // @todo create variable for standard tag box
  cursor: pointer;
  background: $theme13;

  &:hover {
    background: $theme4;
    color: $theme0;
  }

  i {
    @include font-size(xlg);
  }
}
