@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight';
@import '~@gtms/styles/scss/mixins/fontSize';

header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  ul {
    display: flex;
    margin-left: 10px;

    li {
      margin-left: 10px;
      font-size: 16px;
      color: $theme4;
      cursor: pointer;

      &:hover {
        color: $theme5;
      }
    }
  }

  h2 {
    color: white;
    @include font-size(lg);
    @include font-weight(semiBold);
  }
}



.wrapper {
  .tags {
    // @todo make mixin of that
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;

    .tag {
      display: flex;
  
      .image {
        margin-right: 10px;
  
        img {
          max-width: 75px;
          border-radius: $borderRadius;
        }
      }
  
      h3 {
        @include font-size(md);
        @include font-weight(bold);
      }
    }
  
    .add {
      cursor: pointer;
      @include font-weight(bold);
      color: $theme5;
    }
  }
  }

.manager {
  width: 200px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  i {
    font-size: 40px;
  }
}
