@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/modal.scss';

.modalContent {
  @include modalContent();

  button[type='submit'] {
    margin-bottom: 20px;
  }

  .header {
    font-size: 3em;
    text-transform: uppercase;
    @include font-weight(bold);
    margin-bottom: 10px;
  }
}

.registrationLink {
  width: 100%;
  margin-top: 15px;

  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapeDefault();
  @include buttonColorsDefault();

  &:hover {
    @include buttonColorsPrimary();
  }
}
