@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.modalContent {
  button[type='submit'] {
    margin-bottom: 20px;
  }

  .header {
    // create a mixin of that
    text-transform: uppercase;
    @include fontSize(xlg);
    @include fontWeight(semiBold);
    margin-bottom: 10px;
  }
}

.registrationLink {
  width: 100%;
  margin-top: 15px;

  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapeDefault();
  @include buttonColorsDefault();

  &:hover {
    @include buttonColorsPrimary();
  }
}
