@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  padding: 15px;

  h2 {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    @include font-weight(bold);
    margin-bottom: 10px;
  }

  .registrationLink {
    display: block;
    margin-top: 15px;
    @include font-size(md);
    text-align: center;
    text-decoration: none;
    color: white;
  }
}
