@import '~@gtms/styles/scss/variables.scss';

.noRecords {
  width: 100%;

  > div {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.postSingle {
  margin-bottom: 10px;
  border-radius: $borderRadius;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
