@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.users {
  .user {
    display: flex;
    align-items: center;
    @include fontSize(sm);
    cursor: pointer;

    .userAvatar {
      position: relative;
    }

    .nameAndSurname {
      display: inline-block;
      margin-left: 8px;
      opacity: 0.9;
    }

    &:hover {
      .userAvatar {
        @include effectColorTransparentOverlay('circle');
      }

      span {
        color: $theme4;
      }
    }
  }
}
