@import '~@gtms/styles/scss/variables.scss';

.wrapper {
  .spinner {
    position: absolute;
  }

  picture {
    display: block;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
