@import '~@gtms/styles/scss/variables';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .spinner {
    position: absolute;
  }

  picture {
    cursor: pointer;

    img {
      width: 70px;
      min-width: 70px;
      height: 70px;
      min-height: 70px;
      border-radius: $borderRadius;
    }
  }
}
