@import 'scss/variables';

.container {
  display: flex;
  background: $theme1;

  .avatar {
    height: 160px;
  }

  .content {
    padding: 1rem; // @todo put it to variable somehow

    .userName {
      display: inline-block;
      color: $theme5;
      margin-bottom: $margin2;
    }

    .desc {
      color: $theme7;
    }
  }
}
