@import 'scss/variables';

.container {
  display: flex;
  background: $theme1;

  .avatar {
    height: 160px;
  }

  .content {
    padding: 1rem;

    .userName {
      display: inline-block;
      color: $theme4;
      margin-bottom: 10px;
    }

    .desc {
      color: $theme6;
      line-height: 1.2rem;
    }
  }
}
