@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/zindex';

.wrapper {
  position: relative;
  cursor: pointer;

  i,
  .content {
    @include z-index(expandingItem);
  }

  i {
    position: absolute;
    right: 0;

    &:hover {
      > svg {
        color: $theme4;
      }
    }
  }

  .content {
    position: absolute;
    top: 0;
    padding: 20px;
    background: $theme0;
  }
}
