@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  padding: 10px;
  background: $theme2;

  .wrapper {
    position: relative;
  }
}
