@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/header.scss';

.noRecords {
  width: 100%;

  > div {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.post {
  margin-top: 10px;
}
