@import '@gtms/styles/scss/variables';

.container {
  display: flex;
  background: $theme1;

  .avatar {
    height: 160px;
  }

  .content {
    padding: 1rem;

    .nameSurname {
      display: inline-block;
      color: $theme4;
      margin-bottom: 10px;
    }

    .desc {
      color: $theme6;
    }
  }
}
