@import '@gtms/styles/scss/variables';

$color1: $theme4;
$color2: $theme6;
$color3: $theme1;
$fontSize1: 1.25rem;
$fontSize2: 0.8rem;
$padding1: 1rem;

.container {
  display: flex;
  background: $color3;

  .avatar {
    height: 160px;
  }

  .content {
    padding: $padding1;

    .nameSurname {
      display: inline-block;
      font-size: $fontSize1;
      color: $color1;
      margin-bottom: 10px;
    }

    .desc {
      color: $color2;
      font-size: $fontSize2;
      line-height: 1.2rem;
    }
  }
}
