@import '@gtms/styles/scss/variables';

.container {
  display: flex;
  background: $theme1;

  .avatar {
    height: 160px;
  }

  .content {
    padding: 1rem;

    .nameSurname {
      display: inline-block;
      font-size: 1.25rem;
      color: $theme4;
      margin-bottom: 10px;
    }

    .desc {
      color: $theme6;
      font-size: 0.8rem;
    }
  }
}
