@import '@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';

.wrapper {
  cursor: pointer;
  border: 2px solid $theme0;

  &:hover {
    border-color: $theme4;
  }

  .image {
    width: auto;
    height: 150px;
    @include imageCover();
  }

  .desc {
    padding: 10px;

    .header {
      @include font-size(xsm);
      margin-top: 2px;
      margin-bottom: 5px;
      @include font-weight(normal);
      color: $black;
    }

    p {
      line-height: 1.2em;
    }
  }
}
