@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons';
@import '~@gtms/styles/scss/mixins/header.scss';

.wrapper {
  padding: 20px;

  h2 {
    @include header(h4);
    color: $theme7;
    margin-bottom: 20px;
  }

  .btn {
    @include buttonDefault();
    width: 100%;
    color: white;
    background: $theme2;

    &:hover {
      @include buttonColorsHoverDefault();
    }
  }
}
