@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.wrapper {
  .btn {
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapePrimary();
    @include buttonColorsDefault();
    width: 100%;
    color: white;
    background: $theme2;

    &:hover {
      @include buttonColorsPrimary();
    }
  }
}
