@import 'scss/variables.scss';
@import 'scss/zindex.scss';

@mixin formWrapperBasic() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  > div {
    &:first-child {
      position: relative;
      @include z-index(formWrapperBasic);
      width: 500px;
      padding: 1.5em;
      background: $theme1;
    }
  }
}

@mixin formInputGaps() {
  > input {
    + span {
      // errors for input
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
