@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  border: 2px solid $theme9;
  border-radius: $borderRadius;
  padding: 5px;

  &:hover {
    border-color: $theme4;
  }

  .avatar {
    margin-right: 10px;

    img {
      max-width: 40px;
      max-height: 40px;
      overflow: hidden;
      border-radius: $borderRadius;
    }

    &:hover {
      @include effectOne(defaultRadius);
    }
  }

  .avatarNameDesc {
    display: flex;
    cursor: pointer;

    .header {
      @include font-size(md);
      @include font-weight(semiBold);
      word-wrap: break-word;
    }
  }

  .users {
    width: 100%;
    padding: 20px;

    .header {
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
      grid-gap: 10px;

      .userAvatar {
        display: flex;
        flex-direction: column;
        max-width: 80px;

        img {
          border-radius: 50%;
        }
      }

      span {
        display: block;
        @include font-size(md);
        @include font-weight(normal);
        margin-top: 10px;
        text-align: center;
      }
    }
  }

  .tags {
    display: flex;
    gap: 5px;
    margin-top: 10px;

    .tag {
      border: 1px solid $theme9;

      .active {
        background-color: $theme4;
        color: $theme0;
      }
    }
  }
}
