@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  background: rgba(black, 0.5);

  > ul {
    display: flex;
    padding: 5px;

    .item {
      padding: 5px 10px;
      @include fontSize(sm);
      background: $theme9;
      margin-right: 5px;
    }
  }

  > i {
    display: flex;
    @include fontSize(lg);
    margin-left: auto;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background: $theme4;
    }
  }
}
