@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: $theme0;
  border: 1px solid $theme1;
  border-radius: $borderRadius;
  color: $theme2;
  cursor: pointer;

  h2 {
    color: $theme2;
  }

  a {
    color: $theme4;
  }
  &:hover {
    border-color: $theme4;
  }
}
