@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/zindex.scss';

.wrapper {
  position: fixed;
  top: 0px;
  right: -550px; // 550 because of .iconArrow
  @include z-index(sidebar);
  width: 500px;
  height: 100%;
  padding: 10px;
  padding-right: 20px; // for fixing bug with jumping sidebar when cursor is -1px right of the screen
  background: $theme1;
  transition: right 200ms ease-in;

  .iconArrow {
    position: absolute;
    top: 50%;
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 25px;
    height: 45px;
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
    @include fontWeight(bold);
    @include fontSize(lg);
    background: $theme1;
    cursor: pointer;

    &:hover {
      color: $theme4;
    }

    svg {
      transition: 0.25s linear;
    }

    &.rotate180 {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &.opened {
    right: -10px;

    .overlay {
      display: initial;
    }
  }

  &.partiallyVisible {
    right: -400px;
  }

  .content {
    position: relative;
    height: 100%;
    @include z-index(sidebar);
  }

  .navigation {
    display: flex;

    .header {
      display: flex;
      align-items: center;
      @include fontWeight(semiBold);
      @include fontSize(xdefault);
      text-transform: uppercase;

      i {
        margin-right: 5px;
        line-height: 0;
      }

      span {
        margin-left: 5px;
        @include fontWeight(normal);
        @include fontSize(sm);
      }
    }

    .navitems {
      display: flex;
      align-items: center;
      margin-left: 10px;
      cursor: pointer;

      .navitem {
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: $borderRadius;
        background: $theme9;
        color: $theme0;

        &:hover {
          background: $theme4;
          color: $theme0;
        }
      }
    }

    i {
      margin-left: auto;
    }

    &:hover {
      i > svg {
        color: $theme0;
      }
    }
  }

  .notifications {
    li {
      padding: 10px;
      margin-top: 10px;
      background: $theme9;
      border-radius: $borderRadius;
      border: 3px solid $theme9;
      opacity: 0.85;

      &:hover {
        border-color: $theme4;
        opacity: 1;
      }
    }
  }

  .btnShowMore {
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapeDefault();
    @include buttonWithIcon('left');
    @include buttonWithSpinnerAndLabel();
    @include buttonColorsDefault();
    width: 100%;
    margin-top: 10px;

    &:hover {
      @include buttonColorsPrimary();
    }
  }

  .overlay {
    display: none;
  }
}
