@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/zindex.scss';

.wrapper {
  position: fixed;
  top: 0px;
  left: -500px;
  @include z-index(sidebar);
  width: 500px;
  height: 100%;
  padding: 10px;
  background: $theme3;
  transition: left $animationSpeedDefault;

  &.opened {
    left: 0;

    .overlay {
      display: initial;
    }
  }

  .content {
    position: relative;
    height: 100%;
    @include z-index(sidebar);
  }

  .navigation {
    display: flex;

    &:hover {
      .closeIcon svg {
        color: $theme4;
      }
    }

    .header {
      display: flex;
      align-items: center;
      @include fontWeight(semiBold);
      @include fontSize(xdefault);
      text-transform: uppercase;

      i {
        margin-right: 5px;
        line-height: 0;
      }

      span {
        margin-left: 5px;
        @include fontWeight(normal);
        @include fontSize(sm);
      }
    }

    .navitems {
      display: flex;
      align-items: center;
      margin-left: 10px;
      cursor: pointer;

      .navitem {
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: $borderRadius;
        background: $theme1;
        color: $theme0;

        &:hover {
          background: $theme4;
          color: $theme0;
        }
      }
    }

    i {
      margin-left: auto;
      color: $theme0;

      svg {
        color: $theme0;
      }
    }
  }

  .notifications {
    li {
      padding: 10px;
      margin-top: 10px;
      background: $theme1;
      border-radius: $borderRadius;
      border: 3px solid $theme1;
      opacity: 0.85;

      &:hover {
        border-color: $theme4;
        opacity: 1;
      }
    }
  }

  .pagination {
    margin: 10px auto;
  }

  .overlay {
    display: none;
  }
}
