@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';

$notificationSidebarWrapperWidth: 350px;

.wrapper {
  display: flex;
  height: 100%;
  padding: 20px 10px 20px 5px;

  &.opened {
    width: $notificationSidebarWrapperWidth;
  }

  .header {
    display: flex;

    h2 {
      margin-bottom: 8px;
    }

    &:hover {
      .iconClose {
        color: $theme5;
      }
    }
  }

  .iconClose {
    margin-left: auto;
    font-size: 16px;
    cursor: pointer;
  }

  .content {
    width: $notificationSidebarWrapperWidth;
    height: 100%;
    background-color: $theme1;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 5px;
  }
}
