@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  position: relative;
  z-index: 1;
  padding: 10px;
  width: 400px;
  height: 100%;
  background: $theme0;
  box-shadow: 0px 0px 106px -42px rgba(0, 0, 0, 0.79);

  &.opened {
    height: auto;
  }

  .navigation {
    display: flex;
    margin: 5px 0 10px 0;

    .header { 
      display: flex;
      align-items: center;
      @include font-weight(semiBold);
      text-transform: uppercase;

      span {
        margin-left: 5px;
        @include font-weight(normal);
        @include font-size(sm);
      }
    }

    .items {
      display: flex;
      align-items: center;
      margin-left: 10px;
      cursor: pointer;

      .item {
        padding: 5px 10px;
        border-radius: $borderRadius;
        margin-right: 10px;
        background: $theme2;
        color: $theme7;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background: $theme4;
          color: $theme0;
        }
      }
    }

    i {
      margin-left: auto;
    }

    &:hover {
      i > svg {
        color: $theme4;
      }
    }
  }

  ul {
    // @todo create mixin for that
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    );
    grid-gap: 15px;
  }
}
