@import 'scss/variables.scss';
@import 'scss/mixins/button.scss';

.wrapper {
  display: flex;
  height: 100%;

  .left {
    width: 65%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 0 40px;

    > div {
      width: 100%;

      h1,
      p {
        font-weight: 600;
        color: $theme6;
        margin-bottom: 15px;
      }
      h1 {
        font-size: 3em;
        text-transform: uppercase;
      }
      p {
        line-height: 1.3em;
        font-weight: 200;

        &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }

  .actionButtons {
    > button {
      @include btnWidth100;
    }
  }

  .btnForgotPassword {
    // @todo create proper mixin for button
    display: inline-block;
    margin-top: 10px;
    font-size: 10px;
    width: 220px;
  }

  .socialButtons {
    margin-top: 20px;
  }
}
