@import 'scss/variables.scss';
@import 'scss/mixins/button.scss';
@import 'scss/mixins/header';
@import 'scss/mixins/imageCover';

.wrapper {
  display: flex;
  height: 100%;
  background: $theme0;

  .image {
    width: 65%;
    @include imageCover();
  }

  .text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 0 40px;

    > div {
      width: 100%;

      h1,
      p {
        color: $theme7;
        margin-bottom: $margin3;
      }

      h1 {
        @include header(h1, textUppercase, 500);
        text-transform: uppercase;
      }

      p {
        &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }

  .actionButtons {
    > button {
      @include btnWidth100;
    }
  }

  .btnForgotPassword {
    // @todo create proper mixin for button
    display: inline-block;
    width: 220px;
  }
}
