@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.form {
  width: 100%;

  .btn {
    width: 100%;
    margin-top: 15px;
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapeDefault();
    @include buttonColorsDefault();
    &:hover {
      @include buttonColorsPrimary();
    }
  }
}
