@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  width: 100%;
  background: $theme8;

  nav {
    li {
      font-size: 14px;
      background-color: $theme7;
      display: inline-block;
      padding: 5px 15px;
      margin: 0 5px;
      border-radius: $borderRadius;

      &.current {
        @include font-weight(bold);
      }

      a {
        cursor: pointer;
      }
    }
  }

  .currentList {
    display: block !important;
  }
}
