@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper('bgdefault');
  background: $theme2;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 20px;

  .navigation {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;

    .header {
      margin-right: 10px;
      font-size: 1.5em;
      @include font-weight(semiBold);
      text-transform: uppercase;
    }

    .items {
      display: flex;

      .item {
        margin-right: 10px;
        padding: 5px 15px;
        border-radius: $borderRadius;
        background: $theme2;

        a {
          font-size: 1.1em;
        }

        &:hover,
        &.current {
          @include font-weight(bold);
          background: $theme4;

          a {
            color: $theme0;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .btnSaveChanges {
    margin: auto;
    margin-top: 15px;
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapePrimary();
    @include buttonColorsSecondary();

    &:hover {
      @include buttonColorsPrimary();
    }
  }

  .currentList {
    display: flex !important;
  }

  .noRecords {
    margin: auto;
    margin-top: 40px;

    @include font-weight(semiBold);
    @include font-size(lg);
  }

  .groupMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
