@import '~@gtms/styles/scss/mixins/buttons.scss';

.btnSubmit {
  position: relative;
  @include buttonDefault();
  @include buttonShapeDefault();
  @include buttonSizeDefault();
  @include buttonWithSpinnerAndLabel(left);
  @include buttonColorsSecondary();
  width: 100%;

  &:hover,
  &.active {
    @include buttonColorsPrimary();
  }

  &:after {
    position: absolute;
    top: 49px;
    content: '';
    width: 100%;
    height: 1px;
    background: $theme1;
  }
}
