@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';

.btn {
  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapeDefault();
  @include buttonWithIcon('left');
  @include buttonColorsDefault();

  &:hover {
    @include buttonColorsPrimary();
  }
}
