@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.postDropdown {
  position: relative;
  z-index: 1;

  .btnDropdown {
    @include buttonDefault();
    @include buttonSizeSm();
    @include buttonShapeDefault();
    @include buttonWithIcon();
    margin-left: 10px;

    &:hover,
    &:focus,
    &:active {
      @include buttonColorsPrimary();
    }
  }

  .items {
    position: absolute;
    top: 40px;
    right: 0px;
    min-width: 140px;
    padding: 5px;
    border: 1px solid $theme9;
    border-radius: $borderRadius;
    background-color: $theme1;
    cursor: pointer;

    .item {
      padding: 5px;
      border-radius: $borderRadius;
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }

      .btn {
        @include buttonDefault();
        @include buttonSizeDefault();
        @include buttonSizeSm();
        @include buttonShapeDefault();
        @include buttonWithIcon();
        width: 100%;
        justify-content: flex-start;

        &:hover,
        &:focus,
        &:active {
          @include buttonColorsPrimary();
        }
      }
    }
  }
}
