@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';

.postDropdown {
  position: relative;
  z-index: 1;

  .btnDropdown {
    @include buttonDefault();
    @include buttonSizeSm();
    @include buttonShapeDefault();
    @include buttonWithIcon();

    &:hover,
    &:focus,
    &:active {
      @include buttonColorsPrimary();
    }
  }

  .items {
    position: absolute;
    top: 40px;
    right: 0px;
    min-width: 140px;
    padding: 10px;
    border: 1px solid $theme2;
    border-radius: $borderRadius;
    background-color: $theme1;
    cursor: pointer;

    .item {
      border-radius: $borderRadius;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }

      .btn {
        @include buttonDefault();
        @include buttonSizeSm();
        @include buttonShapeDefault();
        @include buttonWithIcon('left');
        width: 100%;
        justify-content: flex-start;

        &:hover,
        &:focus,
        &:active {
          @include buttonColorsPrimary();
        }
      }
    }
  }
}

.postDeleteModal {
  .header {
    @include fontWeight(semiBold);
    @include fontSize(lg);
  }

  .desc {
    margin-top: 5px;
    @include fontSize(xdefault);
  }

  .buttons {
    @include gridTwoButtons();
    margin-top: 20px;

    .yes,
    .no {
      width: 100%;
      @include buttonWithIcon('left');
    }
  }
}
