@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.wrapper {
  display: flex;

  .btn {
    @include buttonDefault();
    @include buttonShapeDefault();
    @include buttonWithIcon();
    color: $theme9;

    i {
      @include font-size(xmd);
      margin-right: 5px;
    }

    &:hover {
      @include buttonColorBlue();
    }
  }
}
