@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.wrapper {
  display: flex;

  .btn {
    @include buttonDefault();
    @include buttonSizeSm();
    @include buttonShapeDefault();
    @include buttonWithIcon();
    @include buttonWithSpinner();
    @include font-size(sm);
    justify-content: flex-start;
    width: 100%;
    color: $theme0;

    i {
      margin-right: 5px;
    }

    &:hover {
      @include buttonColorsPrimary();
    }
  }
}
