@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.wrapper {
  display: flex;

  .btn {
    @include buttonDefault();
    @include buttonSizeSm();
    @include buttonShapeDefault();
    @include buttonWithIcon('left');
    @include buttonColorsDefault();
    @include fontSize(xmd);
    width: 100%;
    color: $theme0;

    &:hover,
    &.active {
      @include buttonColorsPrimary();
    }

    &.isLoading {
      padding-left: 55px;
      position: relative;

      .loader {
        position: absolute;
        width: 45px;
        left: 5px;
      }
    }

    span {
      display: none;
    }
  }
}
