@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';
@import '~@gtms/styles/scss/mixins/zindex.scss';

.mainNavigationWrapper {
  position: fixed;
  left: 0;
  @include z-index(mainNavigation);
  align-items: center;

  .fixed {
    position: fixed;
    width: 45px;
    height: 100%;
    background: black;
  }

  .logo {
    max-width: 80px;
    padding: 5px;
    display: none;
  }

  .searchBar {
    max-width: 450px;
    display: none;

    // @todo remove it when search will be finished
    [class*='inputWrapper'] {
      input {
        background: $theme3;
        border-bottom: 3px solid $theme3;
        border-radius: 0;

        &::placeholder {
          color: rgb(107, 107, 107);
        }
      }
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: 50%;
    margin-left: auto;
  }
}
