@import '~@gtms/styles/scss/variables.scss';

.mainNavigationWrapper {
  height: 100%;
  position: sticky;
  top: 0;
  border-radius: $borderRadius;
  padding: 10px;
  padding-right: 0;

  > div {
    background: $theme0;
    padding: 10px;
    border-radius: $borderRadius;
  }
}
