@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/zindex';

.mainNav {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: $borderRadius2;
  background: $theme0;
}
