@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font-size(xlg);
  cursor: pointer;

  svg {
    color: $theme9;
  }

  &:hover {
    svg {
      color: $theme4;
    }
  }
}
