@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/zindex';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 35px;
  height: 35px;
  @include font-size(xlg);
  cursor: pointer;

  svg {
    color: $theme7;
  }

  &:hover {
    background: $theme5;
  }
}
