@import '@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .inputWrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;

    input[type='text'] {
      flex: 1;
      flex-basis: 100%;
      padding-bottom: 5px;
      margin-right: 5px;
      border: none;
      font-size: 14px;
      background: none;
      border-bottom: 2px solid $theme7;

      &:active,
      &:focus,
      &:hover {
        outline: none;
      }
    }

    button[type='submit'] {
      flex: 1;
      background-color: $theme3;
      cursor: pointer;
      padding: 5px 10px;
      margin-bottom: 10px;
      @include font-size(md);
    }

    .spinner {
      flex: 1;
      flex-basis: 55px;
      margin-left: 10px;
      height: 30px;

      > div {
        position: relative;
        top: -10px;
      }
    }
  }

  .noRecords {
    text-align: center;

    a.actionButton {
      display: block;
      background-color: $theme3;
      padding: 5px;
      cursor: pointer;
      line-height: 20px;
    }
  }

  .tagsList {
    display: flex;
    margin-top: 5px;
  }

  .tag {
    margin-right: 5px;
    padding: 5px;
    background: #595272;
    cursor: pointer;
    font-size: 14px;

    &:first-child {
      margin-left: 0;
    }

    &:active,
    &:focus,
    &:hover {
      outline: none;
    }
  }

  .suggestions {
    position: absolute;
    left: 0;
    bottom: -48px;
    width: 100%;
    padding: 10px;
    min-height: 50px;
    background-color: $theme7;

    button.tag {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
