@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: $borderRadius;
  overflow: hidden;

  .inputWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;

    input[type='text'] {
      flex: 1;
      flex-basis: 100%;
      padding-bottom: 5px;
      margin-right: 5px;
      border: none;
      background: none;
      border-bottom: 2px solid $theme3;

      &:active,
      &:focus,
      &:hover {
        outline: none;
      }
    }

    button[type='submit'] {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonColorsDefault();

      &:hover {
        @include buttonColorsPrimary();
      }
    }

    .spinner {
      flex: 1;
      flex-basis: 55px;
      margin-left: 10px;
      height: 30px;

      > div {
        position: relative;
        top: -10px;
      }
    }
  }

  .buttonNoRecords {
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapeDefault();
    @include buttonColorsDefault();

    &:hover {
      @include buttonColorsPrimary();
    }
  }

  .tagsList {
    display: flex;
    margin-top: 5px;
  }

  .tag {
    margin-right: 5px;
    padding: 5px;
    background: $theme4;
    border: none;
    border-radius: $borderRadius;
    color: $theme0;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:active,
    &:focus,
    &:hover {
      outline: none;
    }
  }

  .suggestions {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    padding: 10px;
    min-height: 50px;
    background-color: $theme1;

    button.tag {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
