@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.btn {
  @include buttonDefault();
  @include buttonSizeSm();
  @include buttonShapeDefault();
  @include buttonWithIcon('left');
  @include buttonWithoutBackground();

  &:hover,
  &:focus,
  &:active {
    @include buttonColorBlueText();
  }

  // for aligning icon
  > div > div {
    display: flex;
    align-items: center;

    span {
      margin-left: 3px;
    }
  }
}
