@import '@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.btn {
  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapePrimary();
  @include buttonWithoutPadding();
  @include buttonWithoutBackground();

  &:hover,
  &:focus,
  &:active {
    @include buttonColorsQuaternary();
  }

  span {
    font-size: 12px;
    display: inline-block;
    max-width: 25px;
    position: relative;
    top: -2px;
  }

  &.withStars {
    // todo
  }
}
