@import '~@gtms/styles/scss/mixins/zindex';
@import '~@gtms/styles/scss/variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  @include z-index(overlay);
  content: '';
  width: 100%;
  height: 100%;
  background: $theme2;
  opacity: 0.75;

  &.clickable {
    cursor: pointer;
  }
}
