@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';
@import '~@gtms/styles/scss/mixins/zindex';

.buttonDelete {
  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapeDefault();
  @include buttonWithoutPadding();
  @include buttonWithIcon();
  @include buttonWithoutBackground();
  margin-right: 10px;

  &:hover,
  &:focus,
  &:active {
    @include buttonColorBlue();
  }
}

.modalContent {
  .header {
    @include font-weight(semiBold);
    @include font-size(lg);
    text-align: center;
  }

  .desc {
    margin-top: 5px;
    @include font-size(xdefault);
  }

  .buttons {
    @include gridTwoButtons();
    margin-top: 20px;

    .btn {
      @include buttonWithIcon();

      &:hover {
        @include buttonColorsPrimary();
      }
    }
  }
}
