@import 'scss/variables.scss';
@import 'scss/mixins/button.scss';
@import 'scss/mixins/fontSize';
@import 'scss/mixins/header';
@import 'scss/mixins/imageCover';

.wrapper {
  display: flex;
  height: 100%;
  background: $theme0;
  font-family: 'Bebas Neue';

  .image {
    width: 56%;
    @include imageCover();
  }

  .text {
    position: relative;
    padding: 0 40px; // @todo put to variable
    width: 44%;

    > div {
      width: 100%;

      h1 {
        @include header(h1, textUppercase, 500);
        text-transform: uppercase;
        font-size: 9em;
        font-weight: 600;
        white-space: nowrap;
        margin-top: $margin5;
      }

      p {
        @include font-size(xlg);

        &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }

  .btnForgotPassword {
    // @todo create proper mixin for button
    display: inline-block;
    width: 220px;
    @include btnWidth100;
  }
}
