@import '~@gtms/styles/scss/variables.scss';

.offCanvasWrapper {
  position: relative;
  left: 0;
  display: flex;
  width: 100%;
  transition: left $animationSpeedDefault;

  &.isActive {
    left: 500px;
    
    [class*='mainNavigationWrapper'] {
      left: 500px;
    }
  }

  [class*='mainNavigationWrapper'] {
    transition: left $animationSpeedDefault;
  }
}
