@import '@gtms/styles/scss/variables';

.postSingle {
  padding: 15px;
  border: 1px solid $theme1;
  cursor: pointer;

  &:hover {
    border-color: $theme4;
  }

  .text {
    font-weight: 200;
    line-height: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
