@import '@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/buttons';
@import '~@gtms/styles/scss/mixins/fontWeight';
@import '~@gtms/styles/scss/mixins/imageCover';

.wrapper {
  position: relative;
  overflow: hidden; // for delete post component that overflows this component
  cursor: pointer;
  opacity: 0.85;

  &:hover {
    border-color: $theme5;
    opacity: 1;

    .header {
      .deleteBtn {
        opacity: 0.8;
      }
    }

    &::after {
      background: $theme4;
    }
  }

  .header {
    display: flex;
    align-items: center;
    font-weight: 400;

    .user {
      display: flex;
      align-items: center;

      // @todo create mixin with highlighted text
      &:hover {
        color: $theme4;
      }

      .userAvatar {
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
      }
    }

    .date {
      font-weight: 300;
    }

    span {
      margin-left: 10px;

      // @include font-weight('bold');
      &:hover {
        color: $theme4;
      }
    }

    .deleteBtn {
      opacity: 0;
      margin-left: auto;

      &:hover {
        opacity: 1;
      }
    }
  }

  .desc {
    .text {
      margin-top: 5px;

      > * {
        white-space: pre-wrap; // it helps to avoid overwidth of element with code inside
      }
    }
  }

  .images {
    display: flex;
    margin-top: 10px;

    li {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: $borderRadius1;
      margin-right: 10px;
      cursor: pointer;
      border: 1px solid $theme2;

      &:hover {
        border-color: $theme4;
      }
    }
  }

  .tagGroup {
    margin-top: 10px;
  }

  .respondBtn {
    @include buttonDefault();
    @include buttonSizeSm();
    @include buttonColorsPrimary();
    margin-top: 10px;
    margin-left: auto;

    &:hover {
      @include buttonColorsSecondary();
    }
  }

  .postResponseCreate {
    margin-top: 10px;
  }
}
