@import '@gtms/styles/scss/variables';

.wrapper {
  position: relative;
  border-radius: $borderRadius;
  overflow: hidden; // for delete post component that overflows this component
  cursor: pointer;
  
  &:hover {
    .header .deleteBtn {
      opacity: 0.5;
    }
  }
  
  .text {
    margin-top: 10px;
    margin-bottom: 10px;
    
    > * {
      white-space: pre-wrap; // it helps to avoid overwidth of element with code inside
    }
  }

  .header {
    display: flex;
    align-items: center;

    .user {
      display: flex;
      align-items: center;

      // @todo create mixin with highlighted text
      &:hover {
        color: $theme5;
      }

      .userAvatar {
        img {
          border-radius: 50%;
        }
      }
    }

    span {
      margin-left: 10px;

      // @todo create mixin with highlighted text
      &:hover {
        color: $theme5;
      }
    }

    .deleteBtn {
      margin-left: auto;
      cursor: pointer;
      opacity: 0;
      
      &:hover {
        opacity: 1;
        color: $theme5;
      }
    }
  }
}
