@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }

  .imagePreview {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: $borderRadius;

    .btn {
      position: absolute;
      top: 5px;
      left: 5px;
      @include buttonDefault();
      @include buttonShapePrimary();
      @include buttonColorsDefault();
      padding: 10px;

      i {
        line-height: 0;
      }

      &:hover {
        @include buttonColorsPrimary();
      }
    }
  }
}

// those below should be a mixin so can be reused later with group page css
.bg1 {
  background-image: url('/images/temp_images/logo-wioska-1.png');
}

.bg2 {
  background-image: url('/images/temp_images/logo-wioska-2.png');
}

.bg3 {
  background-image: url('/images/temp_images/logo-wioska-3.png');
}

.bg4 {
  background-image: url('/images/temp_images/logo-wioska-4.png');
}

.bg5 {
  background-image: url('/images/temp_images/logo-wioska-5.png');
}

.bg6 {
  background-image: url('/images/temp_images/logo-wioska-6.png');
}

.bg7 {
  background-image: url('/images/temp_images/logo-wioska-7.png');
}

.bg8 {
  background-image: url('/images/temp_images/logo-wioska-8.png');
}

.bg9 {
  background-image: url('/images/temp_images/logo-wioska-9.png');
}

.bg10 {
  background-image: url('/images/temp_images/logo-wioska-10.png');
}

.bg11 {
  background-image: url('/images/temp_images/logo-wioska-11.png');
}
