@import '@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/buttons';

.avatar {
  display: flex;

  img {
    border-radius: 50%;
  }

  span {
    position: absolute;
    color: $theme5;
    margin-top: 8px;
    margin-left: 45px;
  }
}

.text {
  position: relative;
}

.btn {
  width: 100%;
  margin-top: 5px;
  @include buttonDefault();
  @include buttonColorsDefault();
  &:hover {
    @include buttonColorsHoverDefault();
  }
}
