@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/inputs.scss';

.wrapper {
  width: 100%;

  .avatarAndText {
    display: flex;
    width: 100%;

    .user {
      display: flex;
      margin-right: 10px;

      .userAvatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }

      span {
        position: absolute;
        color: $theme9;
        margin-top: 8px;
        margin-left: 45px;
      }
    }

    .textarea {
      display: block;
      width: 100%;
      border: none;
      border: 2px solid $theme9;
      border-radius: $borderRadius;
      padding: 10px;
      background: $theme1;
      @include placeholderFocus;

      &:active,
      &:focus,
      &:hover {
        border-color: $theme4;
      }
    }
  }

  .tags {
    .tagsSuggestions {
      display: flex;
      margin-top: 10px;
    }

    .otherTagsSuggestions {
      .header {
        @include font-size(sm);
        text-transform: uppercase;
        padding: 5px 0;
      }

      .list {
        display: flex;
      }
    }

    .tag {
      padding: 5px 5px;
      cursor: pointer;
      margin-right: 5px;
      background: $theme1;
      border-radius: $borderRadius;
      @include font-weight(semiBold);

      &:hover {
        color: $theme0;
        background: $theme4;
      }
    }

    .btnAddSuggestions {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonColorsDefault();
      @include buttonWithIcon('right');
      padding: 5px;

      &:hover {
        @include buttonColorsPrimary();
      }
    }
  }
}
