@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/imageCover';

.wrapper {
  height: 100%;
  @include imageCover();
  display: flex;
  align-items: center;
  justify-content: center;

  .searchInputMock {
    position: relative;
    z-index: 1;
    width: 30%;
    max-width: 350px;
    color: $theme5;
    font-size: 36px;
    font-weight: 200;
    border-bottom: 2px solid $theme5;
  }

  .overlay {
    z-index: 0;
  }
}
