@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';

.appWrapper {
  display: flex;
  flex: 1;

  .bg {
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    @include imageCover();
  }
}
