@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    height: 100%;
  }
  
  .banner {
    width: 100%;
    height: 400px;

    .frame {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: flex-end;
      height: 400px;

      .desc {
        color: $theme6;
  
        h2 {
          font-size: 55px;
          @include font-weight(bold);
        }
  
        p {
          font-size: 18px;
        }
      }
  
      &:hover {
        cursor: pointer;
      }
  
      .btn {
        margin-top: 10px;
        margin-right: 15px;
        @include buttonDefault();
        @include buttonColorsHoverDefault(
  
        ); // @todo it's not hover - refactor it
      }
    }
  
    .backgroundImage {
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      height: 50%;
      @include imageCover();
  
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0px;
        box-shadow: 0px 0px 100px 400px $theme2;
      }
    }
  }

  .header {
    @include header(h3, textUppercase);
  }
}
