@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';

.appWrapper {
  min-height: 100vh;
  display: flex;

  // @todo remove it soon
  // temp bg
  background-image: url('/images/bg-images/group_bg_1.png');
  @include imageCover();
  background-position: fixed;
  background-attachment: fixed;

  .bg {
    position: fixed;
    right: 0;
    top: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    @include imageCover();
    background-position: fixed;
    background-attachment: fixed;

    &[data-loaded='false'] {
      filter: blur(35px);
    }
  }
}


.testa {
  position: fixed;
  background: black;
  width: 500px;
  height: 100vh;

  p {
    margin: 100px 0;
  }
}
