@import '~@gtms/styles/scss/variables.scss';

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 100%;

  .recentlyRegisteredUsers {
    margin: 15px;
    margin-bottom: 0;
  }

  .recentlyCreatedGroups {
    margin: 0 15px;
  }
}
