@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 100%;

  .recentlyRegisteredUsers {
    position: relative;
    z-index: 1;
    margin-top: 500px;
    margin: 0 15px;
  }

  .recentlyCreatedGroups {
    position: relative;
    z-index: 1;
    margin: 0 15px;
  }
}
