@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/shadows.scss';

.pageWrapper {
  display: flex;
  width: 100%;
  background: $theme2;
  transition: margin 500ms ease-in-out;

  &.offCanvas {
    margin-left: -250px;
  }

  .overlay {
    z-index: -2;
    cursor: pointer;
    margin-left: -220px;
    transition: margin 500ms ease-in-out;

    &.active {
      margin-left: -470px;
      z-index: 2;
    }
  }

  .content {
    width: 100%;
    padding: 30px;

    .header {
      display: flex;
      @include fontWeight(semiBold);
      width: 100%;

      .logo {
        margin-right: 30px;
        @include fontSize(lg);
        @include fontWeight(semiBold);
        text-transform: uppercase;

        .bold {
          @include fontWeight(bold);
        }

        .subtitle {
          display: block;
          @include fontSize(default);
          @include fontWeight(semiBold);
          opacity: 0.75;
        }
      }

      .search {
        display: flex;
        align-items: center;
        margin-left: auto;
        width: 100%;
        height: 40px;
        padding: 5px 12px;
        border-radius: $borderRadius3;
        border: 2px solid $theme7;
        @include fontSize(md);
        background: $theme7;

        i {
          line-height: 0;
        }

        span {
          margin-left: 5px;
          @include fontSize(sm);
          @include fontWeight(semiNormal);
        }

        &:hover {
          border-color: $theme4;
        }
      }

      .socialMedia {
        margin-left: 20px;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }
    }

    .slider {
      position: relative;
      display: flex;
      width: 100%;
      overflow: hidden;
      min-height: 380px;
      border-radius: $borderRadius2;
      margin-top: 30px;
      margin-bottom: 30px;
      background: $black;
      cursor: pointer;

      &:hover {
        @include effectColorTransparentOverlay('defaultRadius', 4px);
      }

      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
        padding-left: 50px;
        padding-right: 30px;

        div {
          h2,
          p {
            position: relative;
            z-index: 1;
          }

          h2 {
            @include fontSize(xlg);
            @include fontWeight(semiBold);
            margin-bottom: 10px;
          }

          p {
            line-height: 1.5em;
            opacity: 0.8;
          }
        }

        .icons {
          position: relative;
          z-index: 1;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 20px;
          grid-row-gap: 20px;
          margin-top: 20px;
          @include fontSize(sm);

          .element {
            display: flex;
            align-items: center;

            i {
              padding: 10px;
              @include fontSize(md);
              margin-right: 15px;
              border-radius: $borderRadius;
              line-height: 0;
              background: $theme3;
              border: 3px solid $theme3;
            }

            &:hover {
              i {
                border-color: $theme4;
                color: $theme4;
              }

              span {
                opacity: 1;
              }
            }

            span {
              opacity: 0.7;
            }
          }
        }

        .btnJoin {
          position: relative;
          z-index: 1;
          @include buttonDefault();
          @include buttonSizeDefault();
          @include buttonShapeRoundedSides();
          @include buttonColorsTertiary();
          min-width: 200px;
          margin: auto;
          margin-top: 20px;

          &:hover {
            @include buttonColorsPrimary();
          }
        }
      }

      .right {
        width: 55%;
        min-height: 100%;
        background-image: url('/images/theme-images/mainPageBg.png');
        @include imageCover();
      }
    }
  }

  .recentlyCreatedGroups {
    .header {
      align-items: flex-end;
      @include fontSize(xmd);
      @include fontWeight(semiBold);
      margin-bottom: 25px;

      p {
        @include fontSize(default);
        @include fontWeight(semiNormal);
        margin-left: 10px;
        opacity: 0.7;
      }
    }
  }

  .recentlyRegisteredUsers {
    width: 250px;
    padding: 30px;
    border-left: 1px solid $theme7;
    color: $theme0;

    h3 {
      @include fontSize(xdefault);
      @include fontWeight(semiBold);
    }

    p {
      margin-bottom: 15px;
      opacity: 0.8;
    }

    .users {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  .user {
    position: fixed;
    right: -250px;
    display: flex;
    justify-content: center;
    transition: right 500ms ease-in-out;
    width: 100%;
    max-width: 250px;
    height: 100%;
    border-left: 1px solid $theme7;
    background: $theme2;

    &.active {
      right: 0;
    }

    .spinner {
      margin: 20px;
    }

    .desc {
      padding: 20px;

      h3 {
        @include fontSize(lg);
        @include fontWeight(semiBold);
        margin-bottom: 5px;
      }

      p {
        margin: 10px 0;
        opacity: 0.8;
      }
    }
  }
}
