@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/imageCover';

.wrapper {
  display: flex;
  flex: 1;
  max-width: 75%;

  .tempNav {
    // @todo remove it eventually
    display: flex;
    flex-direction: column;
    margin: 0 5px;
  }

  .wrapperPage {
    display: flex;
    flex: 1;
    margin: 20px;
    margin-left: 5px;
    background: rgba($theme0, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);

    .pageContent {
      width: 100%;
    }
  }

  .bg {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    @include imageCover();
  }
}
