@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/imageCover';

.wrapper {
  display: flex;
  flex: 1;

  .tempNav {
    // @todo remove it eventually
    display: flex;
    flex-direction: column;
  }

  .wrapperPage {
    position: relative;
    display: flex;
    flex: 1;
    margin: 10px 0;
    max-width: 55%;
    border-radius: $borderRadius2;
    background: rgba($theme0, 0.9);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);

    .pageContent {
      width: 100%;
    }
  }

  .bg {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    @include imageCover();
  }
}
