@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  .uploadWrapper {
    position: relative;
    margin-top: 10px;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      @include font-size(lg);
      cursor: pointer;

      svg {
        color: $theme9;
      }

      &:hover {
        svg {
          color: $theme4;
        }
      }
    }
  }

  .attachedImages {
    display: flex;
    justify-content: flex-start;
    margin: 2% 0;

    .item {
      max-width: 120px;
      max-height: 120px;
      margin-right: 2%;
      position: relative;
      border: 2px solid $theme2;
      border-radius: $borderRadius;
      overflow: hidden;
      cursor: pointer;

      .close {
        position: absolute;
        top: 5px;
        right: 5px;
        @include font-size(lg);
        display: none;

        &:hover i {
          color: $theme4;
        }

        i {
          color: $theme8;
        }
      }

      &:hover {
        border-color: $theme4;

        .close {
          display: block;
        }
      }
    }
  }

  .btnSubmit {
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapePrimary();
    @include buttonColorsDefault();
    @include buttonWithIcon('right');
    margin-top: 10px;
    width: 100%;

    &:hover {
      @include buttonColorsPrimary();
    }
  }
}
