@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  .uploadWrapper {
    position: relative;
    margin: 10px 0;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      @include fontSize(lg);
      cursor: pointer;

      svg {
        color: $theme0;
      }

      &:hover {
        svg {
          color: $theme4;
        }
      }
    }
  }

  .attachedImages {
    display: flex;
    justify-content: flex-start;
    margin: 2% 0;

    .item {
      max-width: 120px;
      max-height: 120px;
      margin-right: 2%;
      position: relative;
      border: 2px solid $theme1;
      border-radius: $borderRadius;
      overflow: hidden;
      cursor: pointer;

      .close {
        position: absolute;
        top: 5px;
        right: 5px;
        @include fontSize(lg);
        display: none;

        &:hover i {
          color: $theme4;
        }

        i {
          color: $theme1;
        }
      }

      &:hover {
        border-color: $theme4;

        .close {
          display: block;
        }
      }
    }
  }

  .buttons {
    display: flex;
    gap: 8px;
    margin-top: 8px;

    .btn {
      @include buttonDefault();
      @include buttonSizeMd();
      @include buttonShapeDefault();
      @include buttonColorsSecondary();
      @include buttonWithIcon('left');
      width: 100%;

      &.btnImages {
        max-width: 150px;

        i {
          margin-right: 5px;
        }
      }

      &:hover {
        @include buttonColorsPrimary();
      }

      &:nth-child(2) {
        @include buttonWithIcon('right');
      }
    }
  }
}
