@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/zindex.scss';

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  @include z-index(modal);
  background: $theme3;

  &.loggedIn {
    padding-left: 50px; // main menu on left
  }

  .spinner {
    margin: auto;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .post {
      width: 100%;
      height: 100%;
      padding: 0 10px;
      border-left: 1px solid $theme1;
      border-right: 1px solid $theme1;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 20%;
      height: 100%;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        &:hover {
          background: $theme4;
          padding: 10px;
        }
      }
    }

    .right {
      min-width: 30%;

      .tabs {
        display: flex;
        gap: 10px;
        margin: 15px;

        .tab {
          padding: 5px 10px;
          border-radius: $borderRadius;
          @include fontWeight(semiBold);
          @include fontSize(sm);
          cursor: pointer;

          &:hover,
          &.active {
            background: $theme4;
          }
        }
      }

      .items {
        margin: 15px;

        .item {
          margin-bottom: 10px;
          @include fontSize(sm);
          opacity: 0.8;

          &:hover {
            color: $theme4;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
}
