@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/shadows.scss';

.wrapper {
  display: none; // for show hide functionality
  flex: 1;
  .list {
    width: 100%;
    li {
      border-radius: $borderRadius1;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .image {
        flex-basis: 50px;
      }
      .dsc {
        flex-basis: 35%;
      }
      .stats {
        flex-basis: 90px;
      }

      .actions {
        flex-basis: 40%;
      }
    }
  }
}
