@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  display: none; // for show hide functionality
  
  .items {
    width: 100%;

    .item {
      border-radius: $borderRadius;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .avatar {
        border-radius: $borderRadius;
        min-width: 50px;
        min-height: 50px;
        overflow: hidden;
      }

      .headerAndDesc {
        .header {
          @include font-size(md);
          @include font-weight(semiBold);
        }
    
        .desc {
    
        }
      }    
    }
  }
}
