@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  position: relative;
  margin-top: 100px;
  text-align: center;

  img {
    opacity: 0.4;
    max-width: 100px;
    margin: auto;
    margin-bottom: 10px;
  }

  span {
    @include font-size(md);
    color: $theme9;
  }
}
