@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';

.items {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .item {
    display: flex;
    border-radius: 5%;
    
    .avatar {
      margin-right: 10px;
    }

    &.active {
      border: 1px solid #fff;
    }

    &:hover {
      cursor: pointer;
      
      .avatar {
        @include effectColorTransparentOverlay('defaultRadius');
      }
    }
    
    img {
      border-radius: $borderRadius;
    }
  }
}
