@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.item {
  display: flex;
  flex-direction: row;

  &.active {
    border: 1px solid #fff;
    border-radius: 5%;
  }

  img {
    margin-right: 10px;
  }
}
