@import '~@gtms/styles/scss/variables.scss';

.items {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .item {
    display: flex;
    border-radius: 5%;
    
    &.active {
      border: 1px solid #fff;
    }
    
    img {
      margin-right: 10px;
      border-radius: $borderRadius;
    }
  }
}
