@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/zindex';

.wrapper {
  @include z-index(fullScreenGallery);

  .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 15px;

    .item {
      border-radius: $borderRadius1;
      overflow: hidden;

      // @todo create mixin
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 4px solid $theme4;
        background: rgba($theme4, 0.2);
        border-radius: $borderRadius1;
        opacity: 0;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
