@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/zindex.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: -120%; // additional 20% because of box shadow below
  width: 100%;
  height: 100%;
  padding-left: 45px; // because of NavigationWrapper component on the left side
  @include z-index(fullScreenGallery);
  box-shadow: 0px 5px 97px -20px rgba(0, 0, 0, 0.75);
  transition: left $animationSpeedSlow;

  &.active {
    left: 0;
  }

  .iconClose {
    background: $theme1;
    padding: 10px;
    @include fontSize(lg);
  }

  .canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    @include imageCover();
    cursor: pointer;
  }

  .btns {
    position: fixed;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: center;

    .btn {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonWithIcon('left');
      @include buttonColorsDefault();

      &:hover {
        @include buttonColorsPrimary();
      }

      &:first-child {
        margin-right: 15px;
      }
    }
  }

  .imagesWrapper {
    position: fixed;
    top: 85%;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: $theme1;
    transition: top $animationSpeedSlow;
    cursor: pointer;
    box-shadow: 0px -10px 66px -19px rgba(0, 0, 0, 0.45);

    &.active {
      top: 20%;
    }

    .images {
      position: relative;
      // @todo create mixin for that
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
      grid-gap: 10px;

      .item {
        height: 200px;
        border-radius: $borderRadius;
        @include imageCover();
        overflow: hidden;

        &:hover,
        &.active {
          @include effectColorTransparentOverlay('defaultRadius', 4px);
        }
      }
    }
  }
}
