@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/mediaQueries.scss';

.wrapper {
  overflow: hidden;

  @include for-desktop-only {
    display: none;
  }

  .cover {
    @include imageCover();
    min-height: 300px;
    max-height: 300px;
    padding: 10px;

    .btn {
      @include buttonDefault();
      @include buttonSizeSm();
      @include buttonShapeDefault();
      @include buttonWithIcon('left');
      @include buttonColorsDefault();
      margin-left: auto;

      &:hover {
        @include buttonColorsPrimary();
      }
    }
  }

  // @todo: put proper background images
  .cover1 {
    background-image: url('/images/covers/cover1.png');
  }

  .cover2 {
    background-image: url('/images/covers/cover2.png');
  }

  .cover3 {
    background-image: url('/images/covers/cover3.png');
  }

  .cover4 {
    background-image: url('/images/covers/cover4.png');
  }

  .cover5 {
    background-image: url('/images/covers/cover5.png');
  }

  .cover6 {
    background-image: url('/images/covers/cover6.png');
  }

  .cover7 {
    background-image: url('/images/covers/cover7.png');
  }

  .cover8 {
    background-image: url('/images/covers/cover8.png');
  }

  .cover9 {
    background-image: url('/images/covers/cover9.png');
  }

  .cover10 {
    background-image: url('/images/covers/cover10.png');
  }

  .cover11 {
    background-image: url('/images/covers/cover11.png');
  }

  .cover12 {
    background-image: url('/images/covers/cover12.png');
  }

  .cover13 {
    background-image: url('/images/covers/cover13.png');
  }

  .cover14 {
    background-image: url('/images/covers/cover14.png');
  }
}
