@import '~@gtms/styles/scss/variables';

.wrapper {
  .dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    border: 3px dotted $theme1;
    cursor: pointer;
    
    &:hover {
      color: $theme3;
      border: 3px dotted $theme3;
    }

    &:active,
    &:focus,
    &:hover {
      outline: none;
    }
  }
}
