@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/fontWeight';

.wrapper {
  .dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 2px dotted $theme9;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    @include font-weight(semiBold);

    i {
      @include font-size(xxlg);
    }

    p {
      @include font-size(xdefault);
    }

    &:active,
    &:focus,
    &:hover {
      outline: none;
    }

    &:hover {
      color: $theme4;
      border-color: $theme4;

      i {
        color: $theme4;
      }
    }
  }
}
