@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/shadows';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .items {
    // @todo make mixin of that
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .item {
      cursor: pointer;
      overflow: hidden;
      border-radius: $borderRadius1;

      &:last-child {
        margin-bottom: 0;
      }

      // @todo create mixin
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 4px solid $theme4;
        background: rgba($theme4, 0.2);
        border-radius: $borderRadius1;
        opacity: 0;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }

      .image {
        @include imageCover();
        width: 100%;
        height: 250px;
        @include shadowBoxWithDescription();
      }

      .desc {
        position: absolute;
        z-index: 1;
        bottom: 0;
        margin: 10px;
        color: $theme0;

        h3 {
          @include font-size(md);
          @include font-weight(semiBold);
        }
      }
    }
  }

  .btnWrapper {
    text-align: center;
    margin: 20px auto;

    .btn {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapePrimary();
      @include buttonColorsTertiary();

      &:hover {
        @include buttonColorsPrimary();
      }
    }
  }
}
