@import '@gtms/styles/scss/variables.scss';

$darkblue: #152c3e;
$lightblue: #37618a;
$greenprimary: #7f993d;
$greenshadow: #648459;

.wrapper {
  position: relative;
  height: 70vh;
  overflow: hidden;
  z-index: 0;

  .stage {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .trees {
      position: absolute;
      width: 100%;
      height: 200px;
      bottom: 20%;
      margin-bottom: -100px;

      &.one {
        bottom: 3%;
        left: 40%;
      }

      &.two {
        bottom: 20%;
        left: 8%;
      }

      &.three {
        bottom: 15%;
        left: -20%;
      }

      &.four {
        bottom: 15%;
        left: 38%;
      }
    }

    .ground {
      z-index: 1;
      width: 100%;
      height: 20%;
      position: absolute;
      bottom: 0;
      background: $greenprimary;
    }

    .hills {
      position: absolute;
      left: 10%;
      margin-left: -120px;
      margin-bottom: -86px;
      bottom: 20%;
      z-index: 1;
    }

    .icon {
      position: absolute;
      z-index: 9999;
      width: auto;
    }

    .allegro {
      max-height: 150px;
      bottom: 10%;
      left: 50%;
    }

    .bankPodrozy {
      bottom: 10%;
      left: 14%;
      height: 40px;
    }

    .cocaCola {
      bottom: 10%;
      left: 5%;
      height: 50px;
    }

    .kontakt {
      top: 30px;
      right: 30px;
      height: 27px;
    }

    .kostrzynNadOdra {
      bottom: 16%;
      right: 15%;
      height: 55px;
    }

    .lech {
      bottom: 5%;
      right: 3%;
      height: 80px;
    }

    .lidl {
      bottom: 5%;
      left: 30%;
      height: 80px;
    }

    .logo {
      position: absolute;
      top: 10%;
      max-width: 300px;
    }

    .play {
      bottom: 20%;
      left: 65%;
      height: 100px;
    }

    .socialMedia {
      img {
        margin-top: 30px;
        max-width: 300px;
      }
    }

    .video {
      bottom: 30%;
      right: 5%;
      height: 150px;
    }

    .vlogJurka {
      bottom: 40%;
      left: 10%;
      height: 40px;
    }

    .zakonczenie {
      bottom: 60%;
      right: 5%;
      height: 70px;
    }

    .zarazBedzieCiemno {
      display: none;
    }

    .zarazBedzieCzysto {
      bottom: 3%;
      left: 10%;
      height: 50px;
    }

    .tent {
      &.one {
        max-width: 80px;
        max-height: 50px;
        left: 25%;
        bottom: 10%;
      }

      &.two {
        max-width: 80px;
        max-height: 50px;
        left: 60%;
        bottom: 0%;
      }
    }

    .sky {
      position: absolute;
      top: 0;
      z-index: 0;
      height: 100%;
      width: 100%;

      .stars,
      .twinkling,
      .clouds {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
      }

      .stars {
        background: rgba(22, 33, 65, 1) repeat top center;
        z-index: 0;
      }

      .twinkling {
        background: transparent repeat top center;
        z-index: 1;
        animation: move-twink-back 200s linear infinite;
      }

      @keyframes move-twink-back {
        from {
          background-position: 0 0;
        }
        to {
          background-position: -10000px 5000px;
        }
      }
      @-webkit-keyframes move-twink-back {
        from {
          background-position: 0 0;
        }
        to {
          background-position: -10000px 5000px;
        }
      }
      @-moz-keyframes move-twink-back {
        from {
          background-position: 0 0;
        }
        to {
          background-position: -10000px 5000px;
        }
      }
      @-ms-keyframes move-twink-back {
        from {
          background-position: 0 0;
        }
        to {
          background-position: -10000px 5000px;
        }
      }

      @keyframes move-clouds-back {
        from {
          background-position: 0 0;
        }
        to {
          background-position: 10000px 0;
        }
      }

      @-webkit-keyframes move-clouds-back {
        from {
          background-position: 0 0;
        }
        to {
          background-position: 10000px 0;
        }
      }

      @-moz-keyframes move-clouds-back {
        from {
          background-position: 0 0;
        }
        to {
          background-position: 10000px 0;
        }
      }

      @-ms-keyframes move-clouds-back {
        from {
          background-position: 0;
        }
        to {
          background-position: 10000px 0;
        }
      }
    }
  }
}
