@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 700px;
  background: $theme2;
  box-shadow: $boxShadowDefault;

  .spinner {
    margin: 20px;
  }

  .headerSection {
    @include font-size(sm);
    text-transform: uppercase;
  }

  .avatar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -25px;

    img {
      overflow: hidden;
      border-radius: $borderRadius;
      max-width: 100px;
      max-height: 100px;
    }
  }

  .cover {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-image: url('/images/temp-images/logo-wioska-8.png');
    @include imageCover();
    overflow: hidden;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }

  .content {
    display: flex;
    gap: 10px;
    padding: 10px 0;

    > .leftColumn {
      width: 100%;

      .header {
        @include font-size(lg);
        @include font-weight(semiBold);
        margin-bottom: 5px;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;
        margin-top: 10px;

        .tag {
          background: $theme2;
          border: 1px solid $theme1;

          &:hover {
            background: $theme4;
            border: 1px solid $theme2;
          }
        }
      }
    }

    .users {
      width: 35%;
      border-left: 1px solid $theme1;
      padding-left: 20px;

      .items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        grid-gap: 10px;
        margin-top: 10px;

        .userAvatar {
          display: flex;
          flex-direction: column;
          max-width: 80px;

          &:hover {
            @include effectOne('circle');
          }

          img {
            border-radius: 50%;
          }
        }

        span {
          display: block;
          @include font-size(md);
          @include font-weight(bold);
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }

  .btnWrapper {
    padding: 10px 0;
    padding-top: 0px;

    .btn {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonWithIcon();
      @include buttonColorsDefault();
      width: 100%;

      &:hover {
        @include buttonColorsPrimary();
      }
    }
  }
}
