@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/shadows.scss';

.wrapperModal {
  width: 700px;
  min-height: 300px;

  .navigation {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;

    .item {
      margin-right: 10px;

      a {
        display: inline-block;
        padding: 5px 15px;
        border-radius: $borderRadius;
        background: $theme1;

        &:hover {
          background: $theme4;
          color: $theme0;
        }
      }
    }
  }

  .content {
    .noGroupsFound {
      @include fontSize(lg);
      @include fontWeight(semiBold);
      margin: auto;
    }

    .groupList {
      @include gridDefault(4);

      .item {
        position: relative;
        overflow: hidden;
        border-radius: $borderRadius;
        cursor: pointer;

        &:hover {
          @include effectColorTransparentOverlay('defaultRadius');
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          @include shadowBoxWithDescription();
        }

        .header {
          position: absolute;
          z-index: 1;
          bottom: 0;
          margin: 10px;
          width: 100%;
          color: $theme0;
          @include fontSize(md);
          @include fontWeight(semiBold);
        }

        .image {
          img {
            @include imageCover();
            width: 100%;
            @include shadowBoxWithDescription();
          }
        }
      }
    }

    .groupAvatar {
      position: relative;
      overflow: hidden;
      border-radius: $borderRadius;
      cursor: pointer;
      max-width: 150px;
      margin: auto;
      margin-bottom: 15px;

      &:hover {
        @include effectColorTransparentOverlay('defaultRadius');
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include shadowBoxWithDescription();
      }

      .header {
        position: absolute;
        z-index: 1;
        bottom: 0;
        margin: 10px;
        width: 100%;
        color: $theme0;
        @include fontSize(md);
        @include fontWeight(semiBold);
      }

      .image {
        img {
          @include imageCover();
          width: 100%;
          @include shadowBoxWithDescription();
        }
      }
    }

    .btn {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonColorsSecondary();
      @include buttonWithIcon('left');
      width: 100%;
      margin-top: 10px;
    }
  }
}
