@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.groupList {
  display: flex;
  width: 500px;
  height: 500px;
  background: $theme2;
}
