@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/inputs.scss';

.wrapper {
  display: flex;
  gap: 20px;
  min-width: 600px;

  > div {
    width: 50%;
  }

  .header {
    display: none;
    @include font-weight('semiBold');
    @include font-size(md);
    opacity: 0.5;
    .promoted {
      margin-bottom: 15px;
    }
  }

  .input {
    @include inputDefault;
    @include inputFocus;
    @include placeholderFocus;
    border-radius: $borderRadius;
  }

  .btn {
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapeDefault();
    @include buttonColorsDefault();
    width: 100%;
    margin-top: 15px;

    &:hover {
      @include buttonColorsPrimary();
    }
  }

  .uploadArea {
    > div {
      width: 100%;
    }
  }
}
