@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/inputFocus.scss';
@import '~@gtms/styles/scss/mixins/placeholderFocus.scss';

.input {
  width: 100%;
  height: 40px;
  max-height: 40px;
  border: 1px solid #46484d;
  border-radius: 5px;
  padding: 5px 15px;
  background: #171819;
  margin-bottom: 10px;
  @include inputFocus;
  @include placeholderFocus;
}
