@import '~@gtms/styles/scss/variables.scss';

.input {
  width: 100%;
  height: 40px;
  max-height: 40px;
  border: none;
  border-bottom: 1px solid $theme7;
  background: none;
  color: $theme7;
  margin-bottom: 10px;

  &:active,
  &:focus,
  &:hover {
    outline: none;
    border-color: $theme5;
  }
}
