@import '~@gtms/styles/scss/variables.scss';

.input {
  width: 100%;
  height: 40px;
  max-height: 40px;
  border: 1px solid #46484d;
  border-radius: 5px;
  padding: 5px 15px;
  background: #171819;
  margin-bottom: 10px;

  &:active,
  &:focus,
  &:hover {
    outline: none;
    border-color: lightgray;
  }
}
