@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

@mixin buttonDefault() {
  display: flex;
  align-items: center;
  background: none;
  border-color: $theme0;
  border: none;
  outline: none;
  justify-content: center;
  padding: 0px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    outline: none;
    border-color: $theme4;
  }
}

// TYPES
@mixin buttonWithIcon($position: 'left') {
  display: flex;
  align-items: center;
  line-height: 0;

  @if $position == 'left' {
    > i {
      margin-right: 3px;
    }
  }
  @if $position == 'right' {
    > i {
      margin-left: 3px;
    }
  }
}

@mixin buttonWithSpinner($position: 'left') {
  @if $position == 'left' {
    div {
      margin-right: 10px;
    }
  }
  @if $position == 'right' {
    div {
      margin-left: 10px;
    }
  }
}

@mixin buttonWithoutBackground() {
  background: none;
}

@mixin buttonWithBorder() {
  border: 2px solid $theme0;
  color: $theme0;
}

@mixin buttonWithoutPadding() {
  padding: 0;
}

// SIZES
@mixin buttonSizeDefault() {
  padding: 8px;
}

@mixin buttonSizeSm() {
  padding: 5px;
  line-height: 1;
  @include font-size(sm);
}

@mixin buttonSizeMd() {
  padding: 8px;
  line-height: 1;
  @include font-size(md);
}

// SHAPES
@mixin buttonShapePrimary() {
  border-radius: $borderRadius;
}

// COLORS
@mixin buttonColorsDefault() {
  background: $theme2;
  color: $theme7;
}

@mixin buttonColorsPrimary() {
  background: $theme4;
  color: $theme0;
}

@mixin buttonColorsSecondary() {
  background: $theme7;
  color: $theme1;
}

@mixin buttonColorsTertiary() {
  background: $theme9;
  color: $theme1;
}

@mixin buttonColorsQuaternary() {
  background: $theme0;
  color: $theme4;
}

@mixin buttonColorBlue() {
  color: $theme4;
}
