@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

@mixin buttonDefault() {
  display: flex;
  align-items: center;
  border-color: $theme0;
  border: none;
  outline: none;
  justify-content: center;
  padding: 10px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    outline: none;
    border-color: $theme4;
  }
}

// TYPES
@mixin buttonWithIcon($position: null) {
  display: flex;
  align-items: center;
  line-height: 0;

  @if $position == 'left' {
    > i {
      margin-right: 3px;
    }
  }
  @if $position == 'right' {
    > i {
      margin-left: 3px;
    }
  }
}

@mixin buttonWithSpinnerAndLabel($position: null) {
  i {
    line-height: 0;
  }

  @if $position == 'left' {
    div {
      margin-right: 5px;
    }
  }
  @if $position == 'right' {
    div {
      margin-left: 5px;
    }
  }
}

@mixin buttonWithoutBackground() {
  background: none;
}

@mixin buttonWithoutPadding() {
  padding: 0;
}

// SIZES
@mixin buttonSizeDefault() {
  min-height: 40px;
}

@mixin buttonSizeSm() {
  min-height: 25px;
  padding: 5px;
  line-height: 1;
  @include fontSize(xxs);
}

@mixin buttonSizeMd() {
  min-height: 25px;
  padding: 10px;
  line-height: 1;
  @include fontSize(sm);
}

@mixin buttonSizeLg() {
  min-height: 45px;
  padding: 20px;
  line-height: 1;
  @include fontSize(xdefault);
}

// SHAPES
@mixin buttonShapeDefault() {
  border-radius: $borderRadius;
}

@mixin buttonShapeRoundedSides() {
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

// COLORS
@mixin buttonColorsDefault() {
  background: $theme3;
  color: $theme0;
}

@mixin buttonColorsPrimary() {
  background: $theme4;
  color: $theme0;
}

@mixin buttonColorsSecondary() {
  background: $theme1;
  color: $theme0;
}

@mixin buttonColorsTertiary() {
  border: 2px solid $theme4;
}

@mixin buttonColorRed() {
  background: $theme6;
}

@mixin buttonColorBlueText() {
  color: $theme4;
}
