@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

@mixin buttonDefault() {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  justify-content: center;
  padding: 0px;
  text-align: center; // for <a> elements
  text-decoration: none; // for <a> elements
  cursor: pointer;
  text-transform: uppercase;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

// TYPES
@mixin buttonWithIcon($position: 'left') {
  display: flex;
  align-items: center;
  line-height: 0;

  @if $position == 'left' {
    i {
      margin-right: 3px;
    }
  }
  @if $position == 'right' {
    i {
      margin-left: 3px;
    }
  }
}

// SIZES
@mixin buttonSizeDefault() {
  padding: 8px 15px;
}

@mixin buttonSizeSm() {
  padding: 5px;
  line-height: 1;
  @include font-size(small);
}

@mixin buttonSizeMd() {
  padding: 8px;
  line-height: 1;
  @include font-size(xxs);
}

// SHAPES
@mixin buttonShapePrimary() {
  border-radius: $borderRadius1;
}

@mixin buttonShapeSecondary() {
  border-radius: $borderRadius2;
}

@mixin buttonShapeTertiary() {
  border-radius: $borderRadius3;
}

// COLORS
@mixin buttonColorsDefault() {
  background: $theme2;
  color: $theme7;
}

@mixin buttonColorsPrimary() {
  background: $theme4;
  color: $theme0;
}

@mixin buttonColorsSecondary() {
  background: $theme7;
  color: $theme1;
}

@mixin buttonColorsTertiary() {
  background: $theme9;
  color: $theme1;
}
