@mixin effectOne($radius: null) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($theme4, 0.2);
    border: 2px solid $theme4;
  }

  @if $radius == 'circle' {
    &:after {
      border-radius: 50%;
    }
  }

  @if $radius == 'defaultRadius' {
    &:after {
      border-radius: 5px;
    }
  }
}
