@import '~@gtms/styles/scss/variables.scss';

$font-size: (
  small: 9px,
  xs: 11px,
  xxs: 12px,
  sm: 13px,
  default: 14px,
  xdefault: 16px,
  md: 18px,
  xmd: 20px,
  lg: 22px,
  xlg: 32px,
  xxlg: 42px,
  xxxlg: 62px,
);

@function font-size($key) {
  @return map-get($font-size, $key);
}

@mixin font-size($key) {
  font-size: font-size($key);
}
