@import '../variables.scss';
@import '../zindex.scss';

@mixin formWrapperBasic() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  > div {
    &:first-child {
      position: relative;
      @include z-index(formWrapperBasic);
      width: 500px;
      padding: 1.5em;
      background: $theme1;
    }
  }
}
