$columns: (
  2: 1fr 1fr,
  3: 1fr 1fr 1fr,
  4: 1fr 1fr 1fr 1fr,
  5: 1fr 1fr 1fr 1fr 1fr,
  7: 1fr 1fr 1fr 1fr 1fr 1fr 1fr,
);

@function getColumnSize($key) {
  @return map-get($columns, $key);
}

@mixin gridDefault($key) {
  display: grid;
  gap: 10px;
  grid-template-columns: getColumnSize($key);
}
