@import '~@gtms/styles/scss/mixins/fontWeight.scss';

$size: (
  h1: 1.802em,
  h2: 1.602em,
  h3: 1.424em,
  h4: 1.266em,
  h5: 1.125em,
);

@function header($key) {
  @return map-get($size, $key);
}

@mixin header($key, $textUppercase: null, $bold: null) {
  font-size: header($key);

  @if $textUppercase {
    text-transform: uppercase;
  }

  @if $bold {
    @include fontWeight(semiBold);
  }
}
