@import '~@gtms/styles/scss/variables.scss';

@mixin inputDefault() {
  width: 100%;
  height: 40px;
  max-height: 40px;
  padding: 5px 15px;
  margin-bottom: 10px;
  border: 2px solid $theme9;
  border-radius: 5px;
  background: none;
}

@mixin inputFocus() {
  &:active,
  &:focus,
  &:hover {
    outline: none;
    border-color: $theme4;

    &::placeholder {
      color: $theme0;
    }
  }
}

@mixin placeholderFocus() {
  &::placeholder {
    opacity: 0.9;
    color: $theme0;
  }

  &:focus,
  &:hover {
    &::placeholder {
      opacity: 1;
    }
  }
}
