@import '~@gtms/styles/scss/variables.scss';

@mixin inputDefault() {
  width: 100%;
  height: 40px;
  max-height: 40px;
  color: $theme5;
  padding: 5px 15px;
  background: none;
  margin-bottom: 10px;
}

@mixin inputFocus() {
  &:active,
  &:focus,
  &:hover {
    background: $theme3;
    color: $theme0;
    outline: none;

    &::placeholder {
      color: $theme0;
    }
  }
}

@mixin placeholderFocus() {
  &:focus {
    &::placeholder {
      opacity: 1;
    }
  }

  &::placeholder {
    opacity: 0.75;
    color: $theme1;
  }
}
