@mixin pageWrapper($bg: null) {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 15px;
  border-radius: $borderRadius;

  @if $bg == 'bgdefault' {
    background: $theme0;
  }

  @if $bg == 'loginRegister' {
    max-width: initial;
    margin: initial;
  }
}
