@mixin pageWrapper($bg: null) {
  position: relative;
  margin: 15px;
  border-radius: $borderRadius2;

  @if $bg == 'bgdefault' {
    background: $black;
  }

  @if $bg == 'bgdefaultWithOpacity' {
    background: rgba($theme0, 0.95);
  }

  @if $bg == 'loginRegister' {
    margin: initial;
  }
}
