@mixin pageWrapper($page: null) {
  position: relative;
  display: flex;
  flex: 1;
  margin: 10px;
  margin-right: 0;
  max-width: 760px;
  border-radius: $borderRadius;
  background: $theme0;

  > div {
    width: 100%;
  }

  @if $page == 'login' {
    max-width: initial;
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: $theme4;

    .wrapper {
      width: 100%;
      padding: 20px;
      background: none;

      > div {
        padding: 20px;
        max-width: 500px;
        border-radius: $borderRadius;
        background: $theme0;
      }
    }
  }
}
