@import '~@gtms/styles/scss/variables.scss';

@mixin placeholderFocus() {
  &:focus {
    &::placeholder {
      opacity: 1;
    }
  }

  &::placeholder {
    color: $theme7;
    opacity: 0.75;
  }
}
