$z-index: (
  notification: 17,
  modal: 16,
  sidebar: 12,
  modalContent: 12,
  fullScreenGallery: 12,
  closeAllMyGroupsSidebar: 12,
  allMyGroupsSidebar: 11,
  overlay: 10,
  expandingItem: 10,
  navigationDot: 9,
  navigation: 8,
  postSingleDeletePost: 1,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
