$z-index: (
  notification: 14,
  sidebar: 13,
  modalContent: 12,
  expandingItem: 11,
  modal: 11,
  overlay: 10,
  navigationDot: 9,
  navigation: 8,
  postSingleDeletePost: 1,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
