$z-index: (
  allMyGroupsSidebar: 11,
  mainNavigation: 10,
  closeAllMyGroupsSidebar: 9,
  headerWrapper: 8,
  notification: 7,
  sidebar: 6,
  modal: 5,
  fullScreenGallery: 4,
  groupCard: 3,
  expandingItem: 3,
  searchBar: 2,
  postSingleDeletePost: 1,
  overlay: 1,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
