@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  display: flex;
  align-items: center;

  .details {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;

    .name {
      @include fontSize(sm);
      @include fontWeight(semiBold);
    }

    .stats {
      display: flex;
      gap: 5px;
      @include fontSize(xs);

      li {
        span {
          @include fontWeight(semiBold);
        }
      }
    }
  }

  .groupAvatar {
    overflow: hidden;
    max-height: 30px;
    max-width: 30px;
    margin-left: 5px;
    border-radius: $borderRadius;

    &:hover {
      @include effectColorTransparentOverlay();
    }
  }
}
