@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  display: flex;
  align-items: center;

  .groupAvatar {
    overflow: hidden;
    max-height: 30px;
    max-width: 30px;
    margin-right: 5px;
    border-radius: $borderRadius;

    &:hover {
      a {
        display: block;
        @include effectOne();
      }
    }
  }

  .details {
    display: flex;
    align-items: center;
    gap: 5px;

    .name {
      @include font-size(sm);
      @include font-weight(semiBold);
    }

    .stats {
      display: flex;
      gap: 5px;
      @include font-size(xs);

      li {
        span {
          @include font-weight(semiBold);
        }
      }
    }
  }
}
