@import '~@gtms/styles/scss/variables.scss';

.checkboxWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.6em;

  &:last-child {
    margin-bottom: 0;
  }

  .check {
    cursor: pointer;
    position: relative;
    margin-right: 0.5em;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);

    &:before {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      width: 38px;
      height: 38px;
      background: rgba(34, 50, 84, 0.03);
      opacity: 0;
      transition: opacity 0.2s;
    }

    svg {
      position: relative;
      z-index: 1;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: $theme0;
      stroke-width: 1.5;
      transform: translate3d(0, 0, 0);
      transition: all $animationSpeedSlow;
    }

    svg path {
      stroke-dasharray: 60;
      stroke-dashoffset: 0;
    }

    svg polyline {
      stroke-dasharray: 22;
      stroke-dashoffset: 66;
    }

    &:hover:before {
      opacity: 1;
    }

    &:hover svg {
      stroke: $theme4;
    }
  }

  .input {
    display: none;

    &:checked + label svg {
      stroke: $theme4;
    }

    &:checked + label svg path {
      stroke-dashoffset: 60;
      transition: all $animationSpeedSlow;
    }

    &:checked + label svg polyline {
      stroke-dashoffset: 42;
      transition: all $animationSpeedSlow;
      transition-delay: 0.15s;
    }
  }

  .selected {
    padding: 0.75em;
    border-top: 1px solid lightgray;
    background: $theme3;
  }
}
