@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.notificationHeader {
  display: flex;
  margin-bottom: 5px;

  .avatar {
    max-width: 20px;
    margin-right: 5px;

    img {
      border-radius: 50%;
    }
  }

  .user {
    display: flex;
    align-items: center;
    margin-right: 5px;

    .header {
      @include fontWeight(normal);
      margin-bottom: 3px;
    }

    span {
      margin: 0 3px;
      @include fontWeight(light);
      @include fontSize(xs);
      text-transform: uppercase;
    }

    &:hover {
      color: $theme4;

      .avatar {
        @include effectColorTransparentOverlay('circle');
      }

      span {
        color: $theme0;
      }
    }
  }

  .group {
    display: flex;
    align-items: center;

    .header {
      @include fontWeight(semiBold);
      @include fontSize(xs);
      text-transform: uppercase;
    }

    &:hover {
      color: $theme4;

      .avatar {
        @include effectColorTransparentOverlay('defaultRadius');
      }
    }
  }
}

.text {
  @include fontSize(sm);
  @include fontWeight(semiNormal);
}
