@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/fontWeight';
@import '~@gtms/styles/scss/mixins/zindex';

.wrapper {
  @include font-size(md);
  @include z-index(navigationGroup);
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid $theme2;
  border-radius: $borderRadius;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    border-color: $theme4;
    .groupHeader {
      h2 {
        color: $theme4;
      }
    }
  }

  .groupHeader {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    h2 {
      @include font-weight(normal);
      @include font-size(xs);
      text-transform: uppercase;
    }

    img {
      margin-right: 5px;
      max-width: 20px;
      border-radius: $borderRadius;
    }
  }

  .notification {
    display: flex;
    height: 70px;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;

    .avatar {
      min-width: 35px;
      margin-right: 10px;

      img {
        border-radius: $borderRadius;
      }
    }

    .desc {
      h3 {
        @include font-weight(normal);
      }
    }
  }
}
