@import '@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/fontWeight';
@import '~@gtms/styles/scss/mixins/imageCover';

.wrapper {
  cursor: pointer;

  .image {
    width: 100%;
    height: 200px;
    border-radius: $borderRadius;
    @include imageCover();
  }

  .members {
    display: flex;
    align-items: center;
    @include font-weight(bold);

    > svg {
      margin-right: 3px;
      @include font-size(lg);
    }
  }

  .header {
    @include font-size(md) margin-top: 10px;
  }

  p {
    line-height: 1.4em;
    color: gray;
  }

  &:hover {
    p,
    span,
    .nameSurname {
      color: $theme7;
    }
  }
}
