@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  background: $theme1;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .header {
    @include header(h1, textUppercase);
    margin-bottom: 20px;
  }
}
