@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/header.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: $theme0;

  h2 {
    @include header(h1, textUppercase);
    color: $theme7;
    margin-bottom: 20px;
  }
}
