@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  height: 100%;
  color: $theme0;
  padding: 15px;

  .navWrapper {
    .header {
      @include fontSize(lg);
      @include fontWeight(semiBold);
      margin-bottom: 15px;
    }

    &:hover {
      border-color: rgba($theme0, 0.35);

      .nav .item {
        a {
          color: rgba($theme0, 0.9);
        }
      }
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 15px;

      .item {
        margin-bottom: 15px;

        a {
          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover {
            color: $theme0;
          }

          span {
            margin-left: 5px;
          }

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            @include fontSize(md);
          }
        }

        &.active {
          a {
            padding: 5px;
            border-radius: $borderRadius;
            background: $theme4;
            color: $theme0;
          }
        }
      }
    }
  }

  .content {
    width: 100%;
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
    }
  }
}
