@import '@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/zindex.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  bottom: -150px;
  @include z-index(groupCard);
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  background: $theme4;
  color: $theme0;
  transition: bottom 0.25s ease-in-out;
  bottom: 0;

  .content {
    width: 100%;
    height: 100%;
  }
}

.tags {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .header {
    @include font-size(sm);
    text-transform: uppercase;
  }
}

.btn {
  @include buttonDefault();
  @include buttonSizeMd();
  @include buttonShapePrimary();
  @include buttonWithIcon();
  @include buttonWithoutBackground();
  @include buttonWithBorder();
  margin-left: 20px;

  &:last-child {
    margin-right: 50px;
  }

  &:hover {
    @include buttonColorsQuaternary();
    border-color: $theme0; // @todo create better bordered type button mixin
  }
}

.userAvatar {
  max-width: 110px;
  margin: 0 15px;
}
