@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/header.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  color: $theme5;
  padding: 5%;

  h2 {
    @include header(h1, textUppercase, 500);
  }

  > p {
    margin-top: 10px;
  }
}
