@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  background: $theme1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 5%;

  .header {
    @include header(h1, textUppercase);
  }

  > p {
    margin-top: 10px;
  }
}
