@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';

.wrapper {
  width: 50px;
  min-width: 50px; // because of display flex
  min-height: 100%;
  display: flex;
  margin-right: -15px;
  justify-content: center;

  .navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    @include font-size(md);
    cursor: pointer;

    .avatar {
      width: 40px;
      margin-top: 20px;
      margin-bottom: 10px;

      img {
        border-radius: 50%;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        position: relative;
        background: $theme1;
        margin-bottom: 5px;
        border-radius: 5px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          display: block;
          padding: 10px;
          text-decoration: none;
          color: $theme7;

          i {
            line-height: 0;
            display: block;
          }
        }

        &:hover {
          background: $theme5;
        }
      }
    }
  }
}
