@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';

.navigation {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  @include fontSize(md);
  cursor: pointer;

  .avatar {
    position: relative;

    &:hover {
      @include effectColorTransparentOverlay('circle');
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        text-decoration: none;
        border-radius: $borderRadius;
        background: $theme3;
        color: $theme0;

        i {
          line-height: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          @include fontSize(md);
        }
      }

      &:hover,
      &:focus,
      &.active {
        a {
          background: $theme4;
          color: $theme0;
        }
      }
    }
  }
}
