@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';

.wrapper {
  width: 100%;

  // @todo make it expandable - it's so obvious it doesn't need a task and remove these lines
  max-width: 45px;
  span {
    display: none;
  }

  height: 100%;
  padding: 0 1em;
  background: $theme2;
  color: $theme6;
  @include font-size(md);
  cursor: pointer;

  li {
    position: relative;
    padding: 0.5em 0;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      text-decoration: none;
      opacity: 0.75;
      color: $theme6;

      i {
        margin-right: 0.75em;
      }
    }

    &:hover {
      a {
        color: $theme4;
      }
    }
  }

  &:hover {
    li {
      a {
        opacity: 1;
      }
    }
  }
}
