@import '~@gtms/styles/scss/mixins/buttons';

.btnSubmit {
  width: 100%;
  @include buttonDefault();
  @include buttonShapePrimary();
  @include buttonColorsDefault();
  &:hover {
    @include buttonColorsSecondary();
  }
}

.usernameWrapper {
  position: relative;
}

.spinner {
  position: absolute;
  right: 0;
  top: 0;
}
