@import 'scss/variables';

.postSingle {
  padding: 15px;
  border: 1px solid $theme1;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: $theme4;
  }

  .text {
    font-weight: 200;
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
