@import 'scss/variables';

.postSingle {
  padding: 15px;
  border: 1px solid $theme1;
  background: $theme1;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: $theme5;
  }

  .text {
    line-height: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
