@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.noComments {
  position: relative;
  border-top: 2px solid $theme1;
  border-radius: $borderRadius;
  margin: 10px;
  @include fontSize(sm);
  font-style: italic;
}

.respondButton {
  text-align: right;
  @include buttonDefault();
  @include buttonShapeDefault();
  @include buttonSizeDefault();
  @include buttonColorsDefault();

  &:hover {
    @include buttonColorsPrimary();
  }
}
