@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.noComments {
  position: relative;
  border-top: 2px solid $theme1;
  border-radius: $borderRadius;
  margin: 10px 0;
  padding: 5px;
  @include font-size(sm);
  font-style: italic;
  background-color: $theme1;

  &:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $theme1 transparent;
  }
}

.respondButton {
  text-align: right;
  @include buttonDefault();
  @include buttonShapeDefault();
  @include buttonSizeDefault();
  @include buttonColorsDefault();

  &:hover {
    @include buttonColorsPrimary();
  }
}
