@import '~reset-css/sass/reset';
@import './variables.scss';
@import './customReset.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $theme0;
  font-family: 'Lato,sans-serif', 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body,
body > div:first-of-type {
  height: 100%;
}

img {
  max-width: 100%;
}
