@import '~reset-css/sass/reset';
@import './variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;

  & > #__next {
    min-height: 100vh;
  }
}

body,
input,
textarea,
button {
  font-family: $defaultFontFamily;
  color: $defaultTextColor;
  padding: 0;
}

body {
  width: 100%;
  @include fontSize(default);
  @include fontWeight(semiNormal);
  line-height: normal;
  background-color: $theme1;
}

textarea {
  resize: vertical;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

img {
  max-width: 100%;
}

button,
a {
  @include fontSize(default);
  @include fontWeight(normal);
}

a {
  color: $theme0;
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $theme0;
  }
}

p {
  // fix unnatural width of strings without space
  word-wrap: break-word;
  word-break: break-word;
}
