@import '~reset-css/sass/reset';
@import './variables.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $defaultFontFamily;
  background: $theme1;
  color: $theme6;
}

html,
body,
body > div:first-of-type {
  height: 100%;
}

img {
  max-width: 100%;
}
