$defaultFontFamily: 'Lato, sans-serif', 'Open Sans', 'Helvetica Neue',
  sans-serif;

$theme0: #000;
$theme1: #121018;
$theme1: #121018;
$theme2: #201a24;
$theme3: #474159;
$theme4: rgb(245, 93, 28);
$theme5: rgb(205, 0, 0);
$theme6: #fff;

$borderRadius: 5px;
