$defaultFontFamily: 'Lato, sans-serif', 'Open Sans', 'Helvetica Neue',
  sans-serif;

$theme0: #000000;
$theme1: #121018;
$theme2: #201a24;
$theme3: #474159;
$theme4: #595272;
$theme5: #f55d1c;
$theme6: #cd0000;
$theme7: #fff;
$theme8: #a4c339;
$theme9: #3e4b21;
$theme10: #a2a9ec; //@todo change it to $theme5 and current $theme5 to $theme6 etc.

$borderRadius: 5px;
