@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$animationSpeedDefault: 500ms;
$animationSpeedSlow: 200ms;

$black: #000;

$theme0: #ffffff;
$theme1: #27292d;
$theme2: #131319;
$theme3: rgba(0, 0, 0, 1);
$theme4: #1f5ef3;
$theme6: #c50a1e;
$theme7: #3f4458;

$componentInviteFriends: #bdd3eb;

$borderRadius: 5px;
$borderRadius2: 10px;

$size1: 35px;

$defaultFontFamily: 'Roboto Condensed', sans-serif;
$defaultTextColor: $theme0;

$boxShadowDefault: 0px 0px 7px 0px rgba(0, 0, 0, 0.35);

$width700: 700px;
// @todo remove it soon
$tempWidth: 700px;
