@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  width: 100%;
  height: 100%;
  border-radius: $borderRadius;
  background: $theme6;
  color: $theme0;
  cursor: pointer;

  > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    color: $theme0;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $theme0;
    }

    i {
      @include fontSize(xlg);
    }

    .header,
    .desc {
      text-shadow: 1px 1px 40px rgba($theme0, 0.4);
    }

    .header {
      @include fontWeight(normal);
      @include fontSize(md);
    }

    .desc {
      @include fontWeight(normal);
    }
  }

  &:hover {
    background: $theme4 * 0.8;
  }
}
