.tagsGrid {
  position: relative;
  padding: 0 40px;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    content: '';
    height: 200px;
    width: 100%;
    box-shadow: 0px 0px 39px 30px rgba(0, 0, 0, 100);
  }

  > ul {
    z-index: 1;
    margin-top: -80px;
  }
}
