@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/zindex';

.wrapper {
  display: flex;
  @include z-index(navigationGroup);
  margin-left: 5px;

  .navigationDot {
    > li {
      margin-top: 5px;

      .item {
        width: 40px;
        height: 40px;
        background-size: cover; // @todo move to mixin
        border-radius: 5px;
        cursor: pointer;
        transition: 200ms all;
      }

      &:hover {
        transition-delay: 200ms;

        .item {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}
