@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/zindex';

.wrapper {
  position: relative;
  display: flex;
  margin-top: 10px;
  @include z-index(navigationGroup);

  .brick {
    position: absolute;
    height: 100%;
    width: 100%;
    width: 10px;
  }

  .brickTop {
    top: -10px;
    width: 100%;
    height: 10px;
    background-image: url('/images/cbp/brickLongHorizontal.png');
    background-size: 500%;
    background-position: top;
  }

  .brickRight {
    right: 0px;
    background-image: url('/images/cbp/brickLongVertical.png');
    background-size: 500%;
    background-position: right 43%;
  }

  .brickBottom {
    width: 100%;
    height: 10px;
    bottom: -10px;
    background-image: url('/images/cbp/brickLongHorizontal.png');
    background-size: 500%;
    background-position: bottom;
  }

  .brickLeft {
    left: 0px;
    background-image: url('/images/cbp/brickLongVertical.png');
    background-size: 400%;
  }

  .navigationDot {
    padding: 0 10px;

    > li {
      padding-bottom: 10px;
      background: $theme0;

      &:last-child {
        padding-bottom: 0;
      }

      .item {
        width: 40px;
        height: 40px;
        background-size: cover; // @todo move to mixin
        cursor: pointer;
        transition: 200ms all;
      }
    }
  }
}
