@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/zindex';

.wrapper {
  display: flex;
  @include z-index(navigationGroup);
  border-left: 1px solid $theme3;

  .navigationDot {
    display: none;

    > li {
      display: flex;
      justify-content: center;
      align-content: center;

      // @todo separate component?
      .item {
        width: 40px;
        height: 40px;
        background: $theme1;
        background-size: cover; // @todo move to mixin
        border-radius: 5px;
        cursor: pointer;
        transition: 200ms all;
      }

      &:hover {
        transition-delay: 200ms;

        .item {
          width: 45px;
          height: 45px;
        }
      }
    }
  }

  .linksMock {
    display: flex;

    li {
      position: relative;
      border-radius: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        align-items: center;
        padding: 10px;
        @include font-size(md);
        text-decoration: none;
        color: $theme7;

        i {
          line-height: 0;
          display: block;
        }

        span {
          margin-left: 5px;
          @include font-size(sm);
        }
      }

      &:hover {
        background: $theme5;
      }
    }
  }
}
