@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  display: flex;
  align-items: flex-end;
  @include font-size(sm);
  min-height: 350px;
  padding: 15px 30px;
  background: $theme0;
}
