@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/imageCover';
@import '~@gtms/styles/scss/mixins/zIndex';

.wrapper {
  display: flex;
  align-items: flex-end;
  @include imageCover();
  @include font-size(sm);
  min-height: 350px;
}
