@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';

.spinner {
  margin: 0 auto;
}

.buttons {
  @include gridDefault(2);
  width: 100%;

  // apply styles for custom button component and npm component
  button,
  .button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
    border: none;
    color: $theme1;
    text-align: center;
    text-decoration: none;
    opacity: 1 !important; // clear opacity coming from npm module
    cursor: pointer;

    &.facebook {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonColorsPrimary();
      padding: 15px;

      &:hover {
        @include buttonColorsPrimary();
      }

      svg {
        margin-right: 5px;
      }

      &:hover {
        background: #0d5cc4;
      }
    }
  }

  .google {
    border-radius: 5px;
    overflow: hidden;

    button {
      height: 100%;
      > div {
        margin-right: 0 !important;
        background: none !important;
      }
    }

    &:hover {
      button {
        border: none;
        background-color: #3aa757 !important;

        span {
          color: $theme0 !important;
        }

        > div {
          background-color: #3aa757 !important;
        }
      }
    }
  }
}
