@import '~@gtms/styles/scss/variables';

.wrapper {
  display: flex;
  flex-direction: row;

  > div {
    width: 100%;

    // apply styles for custom button component and npm component
    button,
    .button {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: $borderRadius !important; // clear border radius coming from npm module
      text-align: center;
      text-decoration: none;
      opacity: 1 !important; // clear opacity coming from npm module
      cursor: pointer;

      &.facebook {
        background-color: #485a8e;
      }
    }
  }

  .spinner {
    display: flex;
    justify-content: center;
  }
}
