@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  background: none; // reset bg from mixin pageWrapper()
  margin: 0; // reset margin from mixin pageWrapper()
  padding: 0; // reset padding from mixin pageWrapper()

  max-width: $tempWidth;
  margin: 0 50px;
  margin-bottom: 50px;

  .spinner {
    margin: 40px auto;
  }

  .groupHeader {
    position: relative;
  }

  .promotedTags {
    width: 100%;
    margin-top: 10px;
  }

  .columns {
    position: relative;
    display: flex;
    gap: 10px;
    max-width: $tempWidth;
    min-height: 500px;

    .sidebar {
      min-width: 140px;
    }

    .content {
      display: flex;
      gap: 20px;
      flex-direction: column;
      width: 100%;
      padding: 10px;
      border-radius: $borderRadius;
      background: $theme2;

      .btnDeleteWrapper {
        margin-top: auto;

        .btnDelete {
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }
  }
}
