@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/mediaQueries.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  background: $theme2;

  .spinner {
    margin: 40px auto;
  }

  .groupHeader {
    position: relative;
    padding: 10px;;
  }

  .promotedTags {
    width: 100%;
    margin-top: 10px;
  }

  .columns {
    position: relative;
    display: flex;
    min-height: 500px;
    
    @include for-phone-only {
      flex-direction: column;
      width: 100%;
    }

    .sidebar {
      padding: 10px;
      min-width: 200px;
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;

      @include for-desktop-only {
        display: none;
      }
      
      @include for-phone-only {
        display: flex;
        width: 100%;
        border-radius: 0;
      }
    }

    .content {
      display: flex;
      gap: 20px;
      flex-direction: column;
      width: 100%;
      padding: 0 10px;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;

      @include for-phone-only {
        border-radius: 0;
      }

      .btnDeleteWrapper {
        margin-top: auto;

        .btnDelete {
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }
  }
}
