@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper('bgdefault');
}

.wrapper {
  display: flex;
  height: 100%;

  .spinner {
    margin: auto;
  }

  .content {
    width: 100%;
    padding: 15px;
    border-radius: $borderRadius;

    .navigationWrapper {
      margin-bottom: 15px;

      .header {
        @include header(h3, textUppercase);
        @include font-weight(semiBold);
      }
    }

    .deleteAccount {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: 100%;
      border-radius: $borderRadius;
      background: $theme0;

      > div {
        max-width: 500px;
        padding: 35px;

        .btn {
          position: absolute;
          top: 110px;
          left: 90px;

          h2 {
            @include font-size(lg);
            @include font-weight(semiBold);
          }
        }

        .ohnoimage {
          width: 100%;
        }
      }
    }
  }
}
