@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';

.wrapper {
  .membersList {
    @include gridDefault(7);

    .item {
      display: inline-block;
      text-align: center;
      width: 100px;
      height: 100px;

      a {
        display: block;

        &:hover {
          @include effectColorTransparentOverlay('circle');
        }
      }

      .name {
        display: inline-block;
        @include fontSize(md);
        @include fontWeight(semiBold);
        margin-top: 5px;
        display: none; // @todo add tooltip instead of text
      }
    }

    // @todo create a mixin of that
    .btn {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: none;
      min-width: 100%;
      min-height: 100%;
      border-radius: 50%;
      background: $theme2;
      cursor: pointer;

      &:active,
      &:focus,
      &:hover {
        outline: none;
      }

      i {
        position: relative;
        @include fontSize(lg);
        line-height: 0;
        color: $theme0;
      }

      span {
        position: absolute;
        bottom: -27px; // because of line height of text
        color: $defaultTextColor;
        @include fontSize(md);
      }

      &:hover {
        background: $theme4;

        i {
          color: $theme0;
        }
      }
    }
  }
}
