@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/shadows';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .items {
    @include gridDefault(3);
  }

  .btn {
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapeDefault();
    @include buttonWithSpinnerAndLabel(left);
    @include buttonColorsDefault();
    margin-top: 20px;
    width: 100%;

    &:hover {
      @include buttonColorsPrimary();
    }
  }
}
