@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/fontWeight';

.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  margin-bottom: 10px;
  @include font-size(md);
  color: $theme7;

  h2 {
    @include font-weight(bold);
    text-transform: uppercase;
  }

  ul {
    display: flex;
    margin-left: 15px;

    li {
      margin-right: 10px;
      @include font-weight(light);
      cursor: pointer;
      line-height: 0.7;
      padding: 10px;
      border-radius: $borderRadius1;
      background: $theme0;

      &:hover {
        color: $theme0;
        background: $theme4;
      }

      &.active {
        background: $theme4;
        color: $theme0;
      }
    }
  }
}
