@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';

.wrapper {
  .avatarAndName {
    display: flex;
    gap: 10px;

    .avatar {
      img {
        overflow: hidden;
        border-radius: $borderRadius;
      }

      &:hover {
        @include effectColorTransparentOverlay('defaultRadius');
      }
    }

    h2 {
      @include fontSize(xmd);
      @include fontWeight(semiBold);
    }
  }

  .tags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 5px;

    .tag {
      border: 1px solid $theme2;
      background: $theme1;

      &.active,
      &:hover {
        background-color: $theme4;
        color: $theme0;
      }
    }
  }
}
