@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';

.wrapper {
  position: fixed;
  bottom: -300px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  width: 800px;
  height: 400px;
  border-radius: $borderRadius;
  background: $theme3;
  transition: bottom $animationSpeedSlow;

  &.active {
    bottom: 100px;
  }

  &.hidden {
    bottom: -500px;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;

    .text {
      p {
        margin-bottom: 10px;
      }
    }

    .btn {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonColorsDefault();
      margin-top: auto;
      width: 100%;

      &:hover {
        @include buttonColorsPrimary();
      }
    }
  }
}
