@import '~@gtms/styles/scss/variables';

.cookiePolicy {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 100vh;

  .cookie {
    display: flex;
    width: 100%;
    background: $theme2;
    color: $theme5;
    border-bottom: 1px solid $theme3;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 90%;
    }
  }
}
