@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/shadows.scss';

.wrapper {
  .navigation {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;

    .header {
      @include fontWeight(semiBold);
      text-transform: uppercase;
      @include fontSize(xmd);
    }

    .items {
      display: flex;
      align-items: center;
      @include fontSize(xdefault);

      .item {
        margin-left: 10px;

        a {
          display: inline-block;
          padding: 5px 15px;
          border-radius: $borderRadius;
          background: $theme1;
        }

        &:hover,
        &.active {
          a {
            background: $theme4;
            color: $theme0;
          }
        }
      }
    }
  }
}

.groupItems {
  @include gridDefault(4);

  .item {
    position: relative;
    overflow: hidden;
    border-radius: $borderRadius;
    cursor: pointer;

    a {
      display: block;

      &:hover {
        @include effectColorTransparentOverlay();
      }

      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include shadowBoxWithDescription();
      }

      .image {
        img {
          @include imageCover();
          width: 100%;
          @include shadowBoxWithDescription();
        }
      }

      .headerAndDesc {
        position: absolute;
        z-index: 1;
        bottom: 0;
        margin: 10px;
        width: 100%;
        color: $theme0;

        .header {
          @include fontSize(md);
          @include fontWeight(semiBold);
        }
      }
    }
  }
}

.pagination {
  margin-top: 15px;
}
