@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  width: 100%;

  &.collapsed {
    .joinLeaveButton,
    .settingsButton,
    .followButton,
    .favsButton {
      margin: 15px;

      span {
        display: none;
      }
    }

    .groupMembers {
      display: none;
    }
  }

  .btnTags {
    @include buttonDefault();
    @include buttonWithIcon();
    width: 100%;
    padding: 12px 14px;
    justify-content: flex-start;
    display: none;

    i {
      font-size: 24px;
      margin-right: 5px;
    }

    &.active,
    &:hover {
      @include buttonColorsQuaternary();
    }
  }

  .joinLeaveButton,
  .settingsButton,
  .followButton,
  .favsButton {
    margin: 5px;
  }

  .groupMembers {
    width: 100%;
    padding: 10px;
  }
}
