@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.actionButtons {
  overflow: hidden;
  padding: 0 10px;
}

.btnTags {
  @include buttonDefault();
  @include buttonWithIcon();
  width: 100%;
  padding: 12px 14px;
  justify-content: flex-start;
  display: none;

  i {
    font-size: 24px;
    margin-right: 5px;
  }

  &.active,
  &:hover {
    @include buttonColorsQuaternary();
  }
}

.navmock {
  display: none;

  .item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    @include font-weight(semiBold);
    text-transform: uppercase;

    span {
      margin-left: 5px;
    }

    i {
      color: $black;
      line-height: 0;
      @include font-size(lg);
    }

    &:hover {
      cursor: pointer;
      color: $theme4;

      i {
        color: $theme4;
      }
    }
  }
}

.groupMembers {
  width: 100%;
  padding: 10px;
}

.searchInput {
  display: flex;
  display: none;
  width: 100%;
  margin: 15px;
  overflow: hidden;

  .search {
    width: 100%;
  }
}
