@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/mediaQueries.scss';
@import '~@gtms/styles/scss/mixins/zindex.scss';

.wrapper {
  position: fixed;
  // center it and put on the top
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include z-index(modal);

  // size
  max-width: 800px;
  padding: 10px;
  
  @include for-desktop-only {
    min-width: 300px;
    min-height: 120px;
  }

  // style details
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
  background: $theme3;
  border-radius: $borderRadius;
}
