@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;

  .btnDropdown {
    @include buttonDefault();
    @include buttonSizeSm();
    @include buttonShapeDefault();
    @include buttonWithSpinnerAndLabel();
    @include buttonColorsDefault();
    @include fontSize(md);
    min-width: 35px;
    min-height: 35px;

    &:hover {
      @include buttonColorsPrimary();
    }
  }

  .joinLeaveButton,
  .settingsButton,
  .followButton,
  .favsButton {
    width: 100%;
    min-width: 35px;
    height: 35px;
  }

  .groupMembers {
    width: 100%;
    padding: 10px;
  }
}
