@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.tag {
  display: inline-block;
  padding: 3px 6px;
  border-radius: $borderRadius;
  background: $theme1;
  color: $black;
  cursor: pointer;

  &:hover {
    background: $theme4;
    color: $theme0;
  }
}
