@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.tag {
  display: inline-block;
  padding: 3px 6px;
  border-radius: $borderRadius1;
  background: $theme2;
  color: $theme7;
  cursor: pointer;

  &:hover {
    background: $theme4;
    color: $theme0;
  }
}
