@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.tag {
  display: inline-block;
  background: $theme3;
  color: $theme6;
  padding: 5px;
  border-radius: $borderRadius;
  @include font-weight(semiBold);
  cursor: pointer;

  &:hover {
    background: $theme4;
  }
}
