@import '@gtms/styles/scss/variables';

.search {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 0.85em;
  color: $theme6;
  background: $theme1;
  border: 1px solid $theme6;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  .tags {
    display: flex;

    .tag {
      font-size: 1.3em;
      margin-left: 0.5em;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .locations {
    display: flex;
  }

  .groups {
    display: flex;
  }

  &.active {
    border-color: $theme4;
    background: $theme4;
  }
}
