@import '~@gtms/styles/scss/variables.scss';

.wrapper {
  position: absolute;
  top: 45px;
  right: 0;
  height: 100%;

  .notification {
    max-width: 300px;
    margin-top: 10px;
    margin-right: 10px;
  }
}
