@import '~@gtms/styles/scss/variables.scss';

.wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 100%;

  .notification {
    max-width: 350px;
    margin-bottom: 15px; // for more than one notificaiton in column
  }
}
