@import '~@gtms/styles/scss/mixins/zindex.scss';
@import '~@gtms/styles/scss/variables.scss';

.wrapper {
  // importants here are because inline styles are applied
  display: block !important;

  &,
  * {
    border-radius: $borderRadius !important;
    transition-duration: 0.15s !important;
  }

  [class*='react-switch-bg'] {
    background: gray !important;
    height: 32px;
  }

  [class*='react-switch-handle'] {
    width: 20px !important;
    height: 20px !important;
    margin: 3px !important;
    background: $black !important;
  }

  path {
    fill: gray !important;
  }

  // CHECKED STATE
  &.checked {
    [class*='react-switch-bg'] {
      background: $theme4 !important;
    }

    [class*='react-switch-handle'] {
      background: $black !important;
    }

    path {
      fill: $black !important;
    }
  }
}
