@import 'scss/variables';

$color1: $theme1;
$color2: $theme2;
$color3: $theme6;

.cookiePolicy {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 100vh;

  .cookie {
    display: flex;
    width: 100%;
    background: $color1;
    color: $color3;
    border-bottom: 1px solid $color2;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 90%;
    }
  }
}
