@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/mediaQueries.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';
@import '~@gtms/styles/scss/mixins/zindex.scss';

.mobileMainNavigationWrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  @include z-index(mainNavigation);
  background: $black;
  height: 50px;

  @include for-desktop-only {
    display: none;
  }

  > div,
  > a,
  > nav {
    display: none;
  }

  .items {
    display: flex;
    align-items: center;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 30px;
      @include fontSize(xdefault);

      span {
        @include fontSize(xs);
      }
    }
  }

  .logo {
    max-width: 80px;
    padding: 5px;

    display: none;
  }

  .searchBar {
    max-width: 450px;
    display: none;

    // @todo remove it when search will be finished
    [class*='inputWrapper'] {
      input {
        background: $theme3;
        border-bottom: 3px solid $theme3;
        border-radius: 0;

        &::placeholder {
          color: rgb(107, 107, 107);
        }
      }
    }
  }
}
