.page {
    width: 90%;
    height: 100vh;
    padding: 5%;
    overflow-y: auto;
    font-family: 'Lato,sans-serif';
    color: #FFF;
    background-image: url('/static/bg.jpg');
    background-repeat: no-repeat;
    background-size: 'cover';
}