@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  max-width: 650px;
}

.wrapper {
  width: 100%;
  padding: 20px;

  .coverImage {
    max-width: 500px;
  }

  .searchBarWrapper {
    position: relative;
    z-index: 1;
  }
}
