@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.navigation {
  width: 200px;
  margin-right: 10px;

  .item {
    // border-radius: $borderRadius;
    // background: $theme1;
    margin: 10px;
    border-radius: $borderRadius;

    a {
      display: flex;
      padding: 5px;
      // justify-content: center;
      // align-items: center;
      // @include font-size(md);

      span {
        // @todo remove it soon
        // temporary hidden
        margin-left: 5px;
      }

      i {
        line-height: 0;
      }
    }

    &.current,
    &:hover {
      background: $theme4;

      a {
        color: $theme0;
      }
    }
  }
}
