@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.navigation {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .item {
    border-radius: $borderRadius;
    background: $theme2;

    a {
      display: flex;
      padding: 5px;

      span {
        margin-left: 5px;
      }

      i {
        line-height: 0;
      }
    }

    &.current,
    &:hover {
      background: $theme4;

      a {
        color: $theme0;
      }
    }
  }
}
