@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/pageBg.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
}

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $theme3;

  .centerIt {
    max-width: 500px;
    padding: 20px;
    border-radius: $borderRadius;

    .header {
      @include header(h2, uppercase);
      @include fontWeight(semiBold);
      margin-bottom: 10px;

      & + p {
        margin: 10px 0;
      }
    }
  }

  .btn {
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapeDefault();
    @include buttonWithIcon();
    @include buttonColorsDefault();
    margin-top: 10px;
    width: 100%;

    &:hover {
      @include buttonColorsPrimary();
    }

    > a {
      width: 100%;
    }
  }
}

.pageBg {
  @include pageBg();
}
