@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0 20px;

  > div {
    .header {
      // @todo make mixin of that
      font-size: 3em;
      text-transform: uppercase;
      @include font-weight(semiBold);
    }

    .form {
      margin-top: 20px;
    }
  }

  .btn {
    width: 100%;
    margin-top: 10px;
    > a {
      width: 100%;
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonColorsDefault();

      &:hover {
        @include buttonColorsPrimary();
      }
    }
  }
}
