@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/fontWeight';

.noRecords {
  text-align: center;
}

.promotedList {
  // @todo make mixin of that
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  .item {
    .imageWrapper {
      width: 100%;
      cursor: pointer;

      // @todo create mixin for that
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 4px solid $theme4;
        background: rgba($theme4, 0.2);
        border-radius: $borderRadius1;
        opacity: 0;
      }
      // @todo create mixin for that
      &:hover {
        &:after {
          opacity: 1;
        }
      }

      .actionButtons {
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 1;
        display: flex;

        .btn {
          margin-right: 10px;
          @include buttonDefault();
          @include buttonSizeDefault();
          @include buttonShapePrimary();
          @include buttonColorsDefault();

          &:hover {
            @include buttonColorsPrimary();
          }
        }
      }

      .uploadedImage {
        img,
        picture {
          max-width: 50px;
          max-height: 50px;
        }
      }

      img,
      picture {
        border-radius: $borderRadius1;
        overflow: hidden;
      }
    }

    .tagNameDesc {
      .tag {
        margin-top: 5px;
        @include font-size(md);
        @include font-weight(semiBold);
      }
    }
  }

  .modalContent {
    min-width: 500px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none !important;

    > div {
      h2 {
        text-align: center;
        @include font-size(lg);
      }

      .buttons {
        display: flex;
        margin-top: 20px;

        > * {
          @include buttonDefault();
          @include buttonSizeDefault();
          @include buttonShapePrimary();
          @include buttonColorsDefault();
          margin-right: 15px;

          &:hover {
            @include buttonColorsPrimary();
          }

          &:last-child {
            margin-right: 0;
          }
        }

        .no {
          &:hover {
            background: red;
          }
        }
      }
    }
  }
}
