@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';

.noRecords {
  text-align: center;
}

.promotedList {
  @include gridDefault(5);

  .item {
    .imageWrapper {
      width: 100%;
      overflow: hidden;
      border-radius: $borderRadius;
      cursor: pointer;

      &:hover {
        @include effectOne();
      }

      .actionButtons {
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 1;
        display: flex;

        .btn {
          margin-right: 10px;
          @include buttonDefault();
          @include buttonSizeDefault();
          @include buttonShapeDefault();
          @include buttonWithIcon(withoutText);
          @include buttonColorsDefault();

          &:hover {
            @include buttonColorsPrimary();
          }
        }
      }

      .uploadedImage {
        img,
        picture {
          max-width: 50px;
          max-height: 50px;
        }
      }

      img,
      picture {
        overflow: hidden;
      }
    }

    .tagNameDesc {
      .tag {
        margin-top: 5px;
        @include font-size(md);
        @include font-weight(semiBold);
      }
    }
  }
}

.deleteTagModal {
  .header {
    @include font-weight(semiBold);
    @include font-size(lg);
  }

  .desc {
    margin-top: 5px;
    @include font-size(xdefault);
  }

  .buttons {
    @include gridTwoButtons();
    margin-top: 20px;

    .yes,
    .no {
      @include buttonWithIcon();
    }
  }
}
