@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.error {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 5px;
  color: $theme6;
  @include font-size(sm);
  @include font-weight(normal);
  border-top: 1px solid $theme6;
  margin-top: -11px;
}
