@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';

.error {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 5px;
  color: $theme7;
  @include font-size(sm);
  font-weight: 400;
  border-top: 1px solid $theme7;
  margin-top: -1px;
}
