@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.error {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  @include font-size(sm);
  @include font-weight(normal);
  border-top: 1px solid $theme6;
  margin-top: -14px;
  margin-bottom: 10px;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  background: $theme6;
  color: $black;

  &:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 8px 7.5px;
    border-color: transparent transparent $theme6 transparent;
  }
}
