@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper('bgdefault');
  max-width: 600px;
}

.wrapper {
  padding: 15px;

  .changePassword {
    margin: 10px 0;
  }

  .deleteAccount {
    position: relative;
    margin-top: 50px;

    .btn {
      position: absolute;
      top: 110px;
      left: 90px;

      .header {
        @include font-size(lg);
        @include font-weight(semiBold);
      }
    }

    .ohnoimage {
      width: 100%;
    }
  }
}
