@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  border-radius: $borderRadius;
  cursor: pointer;

  &:hover {
    border-color: $theme4;
  }

  &.withFullBg {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba($theme3, 0.85);
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: $tempWidth;

    img {
      max-width: 200px;
      margin-right: 20px;
    }

    > div {
      h2 {
        @include fontSize(lg);
        @include fontWeight(semiBold);
        margin-top: 10px;
      }

      p {
        @include fontSize(xdefault);
      }
    }
  }

  button {
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapeDefault();
    @include buttonWithIcon('left');
    @include buttonColorsDefault();
    margin-top: 20px;

    &:hover {
      @include buttonColorsPrimary();
    }
  }
}
