.bg1 {
  background-image: url('/images/temp_images/logo-wioska-1.png');
}

.bg2 {
  background-image: url('/images/temp_images/logo-wioska-2.png');
}

.bg3 {
  background-image: url('/images/temp_images/logo-wioska-3.png');
}

.bg4 {
  background-image: url('/images/temp_images/logo-wioska-4.png');
}

.bg5 {
  background-image: url('/images/temp_images/logo-wioska-5.png');
}

.bg6 {
  background-image: url('/images/temp_images/logo-wioska-6.png');
}

.bg7 {
  background-image: url('/images/temp_images/logo-wioska-7.png');
}

.bg8 {
  background-image: url('/images/temp_images/logo-wioska-8.png');
}

.bg9 {
  background-image: url('/images/temp_images/logo-wioska-9.png');
}

.bg10 {
  background-image: url('/images/temp_images/logo-wioska-10.png');
}

.bg11 {
  background-image: url('/images/temp_images/logo-wioska-11.png');
}
