@mixin blurFilter($img) {
  filter: blur(2vw);
  // transform: scale(1.05);

  &[data-loaded='true'] {
    filter: none;
    will-change: transform, opacity;
    // animation: reveal 1s;
    background-image: url($img);
  }
}

.noBg {
  display: none;
}

.bg1 {
  background-image: url('/images/bg-images/group_bg_1.png');
  @include blurFilter('/images/bg-images/group_bg_1.png');
}

.bg2 {
  background-image: url('/images/bg-images/group_bg_2.png');
  @include blurFilter('/images/bg-images/group_bg_2.png');
}

.bg3 {
  background-image: url('/images/bg-images/group_bg_3.png');
  @include blurFilter('/images/bg-images/group_bg_3.png');
}

.bg4 {
  background-image: url('/images/bg-images/group_bg_4.png');
  @include blurFilter('/images/bg-images/group_bg_4.png');
}

.bg5 {
  background-image: url('/images/bg-images/group_bg_5.png');
  @include blurFilter('/images/bg-images/group_bg_5.png');
}

.bg6 {
  background-image: url('/images/bg-images/group_bg_6.png');
  @include blurFilter('/images/bg-images/group_bg_6.png');
}

.bg7 {
  background-image: url('/images/bg-images/group_bg_7.png');
  @include blurFilter('/images/bg-images/group_bg_7.png');
}

.bg8 {
  background-image: url('/images/bg-images/group_bg_8.png');
  @include blurFilter('/images/bg-images/group_bg_8.png');
}

.bg9 {
  background-image: url('/images/bg-images/group_bg_9.png');
  @include blurFilter('/images/bg-images/group_bg_9.png');
}

.bg10 {
  background-image: url('/images/bg-images/group_bg_10.png');
  @include blurFilter('/images/bg-images/group_bg_10.png');
}

.bg11 {
  background-image: url('/images/bg-images/group_bg_11.png');
  @include blurFilter('/images/bg-images/group_bg_11.png');
}

.bg12 {
  background-image: url('/images/bg-images/group_bg_12.png');
  @include blurFilter('/images/bg-images/group_bg_12.png');
}

.bg13 {
  background-image: url('/images/bg-images/group_bg_13.png');
  @include blurFilter('/images/bg-images/group_bg_13.png');
}

.bg14 {
  background-image: url('/images/bg-images/group_bg_14.png');
  @include blurFilter('/images/bg-images/group_bg_14.png');
}

.bg15 {
  background-image: url('/images/bg-images/group_bg_15.png');
  @include blurFilter('/images/bg-images/group_bg_15.png');
}

.bg16 {
  background-image: url('/images/bg-images/group_bg_16.png');
  @include blurFilter('/images/bg-images/group_bg_16.png');
}

.bg17 {
  background-image: url('/images/bg-images/group_bg_17.png');
  @include blurFilter('/images/bg-images/group_bg_17.png');
}

.bg18 {
  background-image: url('/images/bg-images/group_bg_18.png');
  @include blurFilter('/images/bg-images/group_bg_18.png');
}

.bg19 {
  background-image: url('/images/bg-images/group_bg_19.png');
  @include blurFilter('/images/bg-images/group_bg_19.png');
}

.bg20 {
  background-image: url('/images/bg-images/group_bg_20.png');
  @include blurFilter('/images/bg-images/group_bg_20.png');
}

@keyframes reveal {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
