@import '~@gtms/styles/scss/variables.scss';

.tagsGrid {
  position: relative;
  padding: 0 40px 40px;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content: '';
    height: 0;
    width: 100%;
    box-shadow: 0px 0px 80px 90px $theme1;
  }
}
