@import 'scss/variables';

.tag {
  display: inline-block;
  background: $theme5;
  color: $theme7;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background: $theme5 / 1.4;
    color: $theme7;
  }
}
