@import 'scss/variables';
@import 'scss/mixins/fontSize';

.tag {
  display: inline-block;
  background: $theme7;
  color: $theme1;
  padding: $margin1;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: $theme5;
    color: $theme7;
  }
}
