@import 'scss/variables';

$color1: $theme6;
$color2: $theme4;

.tag {
  display: inline-block;
  color: $color1;
  padding: 5px;
  font-size: 0.8rem;
  cursor: pointer;

  &:hover {
    background: $color2;
    color: $color1;
  }
}
