@import '~@gtms/styles/scss/mixins/buttons.scss';

.wrapper {
  width: 100%;

  .btnSubmit {
    width: 100%;
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapeDefault();
    @include buttonColorsDefault();
    &:hover {
      @include buttonColorsPrimary();
    }
  }

  .spinner {
    padding: 10px;
    text-align: center;
  }
}
