@import '~@gtms/styles/scss/mixins/buttons';

.btnSubmit {
  width: 100%;
  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapePrimary();
  @include buttonColorsDefault();
  &:hover {
    @include buttonColorsPrimary();
  }
}

.spinner {
  padding: 10px;
  text-align: center;
}
