@import 'scss/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  text-transform: uppercase;

  .label {
    margin-right: $margin2;

    &:hover {
      cursor: pointer;
      color: $theme5;
    }
  }
}
