@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .profileImage {
    max-width: 150px;
    
    img {
      border-radius: 50%;
    }
  }

  h2 {
    @include font-size(lg);
    @include font-weight(semiBold);
  }

  .inviteToGroupButton {
    padding: 10px;
    background: gray;
  }
}
