@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.header {
  display: flex;
  align-items: center;

  .image {
    max-width: 50px;

    img {
      border-radius: 50%;
    }

    &:hover {
      @include effectColorTransparentOverlay('circle');
    }
  }

  .headerAndDesc {
    margin-left: 10px;

    .header {
      @include fontSize(lg);
      @include fontWeight(semiBold);
    }

    .desc {
      @include fontSize(xdefault);
      word-break: break-all;
    }
  }
}

.tags {
  margin: 20px 0;

  .header {
    @include fontSize(lg);
    @include fontWeight(semiBold);
    margin-bottom: 5px;
  }
}

.inviteToGroupButton {
  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapeDefault();
  @include buttonColorsSecondary();
  @include buttonWithIcon('left');
  margin-bottom: 10px;

  &:hover {
    @include buttonColorsPrimary();
  }
}
