@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/imageCover';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  padding-left: 6px;
  margin-left: -6px;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  @include imageCover();

  img {
    display: flex;
    margin: auto;
    margin-top: 20px;
    max-width: 400px;
  }

  > div {
    width: 60%;

    h2 {
      font-size: 3em;
      text-transform: uppercase;
      @include font-weight(bold);
    }

    p {
      margin-top: 5px;
      margin-bottom: 20px;
      line-height: 1.3em;
      @include font-weight(semiNormal);
    }
  }
}
