@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/mediaQueries.scss';
@import '~@gtms/styles/scss/mixins/pageBg.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  display: flex;
  align-items: center;
  padding: 40px;

  @include for-phone-only {
    padding: 0;
  }

  .form {
    position: relative;
    z-index: 1;
    width: 35%;
    height: 100%;
    padding: 30px;
    border-radius: $borderRadius;
    background: rgba($theme3, 0.9);

    @include for-phone-only {
      width: 100%;
      border-radius: 0;
    }

    .image img {
      display: flex;
      margin: auto;
      max-width: 300px;
      margin-top: 20px;
    }

    .header {
      @include fontWeight(bold);
      @include fontSize(xlg);
      margin-top: 20px;
      text-transform: uppercase;
    }

    .desc {
      margin-top: 5px;
      margin-bottom: 20px;
      line-height: 1.3em;
      @include fontWeight(semiNormal);
    }
  }

  .pageBg {
    @include pageBg('/images/theme-images/create-group-bg.png');

    @include for-phone-only {
      display: none;
    }
  }
}
