@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  max-width: 500px;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  @include imageCover();

  .image img {
    display: flex;
    margin: auto;
    max-width: 300px;
    margin-top: 20px;
  }

  > div {
    padding: 50px;

    .header {
      @include font-weight(semiBold);
      @include font-size(xlg);
      margin-top: 20px;
      text-transform: uppercase;
    }

    .desc {
      margin-top: 5px;
      margin-bottom: 20px;
      line-height: 1.3em;
      @include font-weight(semiNormal);
    }
  }
}
