@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';

.tagGroup {
  @include font-size(sm);

  > div {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
  }

  // removing margin-bottom above (.tagGRoup > div)
  margin-bottom: -5px;
}
