@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  .header {
    // @todo create mixin of that
    font-size: 1.5em;
    text-transform: uppercase;
    @include font-weight(bold);
    margin-bottom: 15px;
  }

  .grid {
    // @todo create mixin for that
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 10px;

    .btn {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonColorsDefault();
      border: 1px solid $black;
      &:hover {
        @include buttonColorsPrimary();
      }
    }
  }
}
