@import '@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/header.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  background: $theme3;
  color: $theme2;
  max-width: 350px;

  .title {
    @include header(h4, textUppercase, 500);
    @include font-weight(semiBold);
    display: flex;
    align-items: center;
    margin-bottom: 3px;

    span {
      @include font-size(sm);
      margin-left: 5px;
    }
  }

  &:hover {
    color: $theme4;
    cursor: pointer;
  }
}
