@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

$groupMembersAvatarSize: 50px;

.wrapper {
  .users {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax($groupMembersAvatarSize, 1fr)
    );
    grid-gap: 15px;
  }

  .item {
    display: inline-block;
    color: $theme4;
    @include font-size(md);
    @include font-weight(semiBold);
    cursor: pointer;

    &:hover {
      color: $theme7;
    }
  }

  .avatar {
    max-width: $groupMembersAvatarSize;
  }

  p {
    margin: 40px 0;
    text-align: center;
  }
}
