@import '~@gtms/styles/scss/variables.scss';

.switch {
  height: 24px;
  display: block;
  position: relative;
  cursor: pointer;
  input {
    display: none;
    & + span {
      padding-left: 50px;
      min-height: 24px;
      line-height: 24px;
      display: block;
      color: $theme4;
      position: relative;
      white-space: nowrap;
      transition: color 0.3s;

      .textLabelUnchecked {
        display: block;
      }

      .textLabelChecked {
        display: none;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 12px;
      }

      &:before {
        top: 0;
        left: 0;
        width: 42px;
        height: 24px;
        background: $theme4;
        transition: all $animationSpeedSlow;
      }

      &:after {
        width: 18px;
        height: 18px;
        background: $theme4;
        top: 3px;
        left: 3px;
        box-shadow: 0 1px 3px rgba(#121621, 0.1);
        transition: all $animationSpeedDefault;
      }

      .locker {
        width: 8px;
        height: 7px;
        background: $theme4;
        position: absolute;
        left: 8px;
        bottom: 7px;
        border-radius: 2px;
        display: block;
        z-index: 1;
        transition: all $animationSpeedDefault;

        &:before {
          content: '';
          width: 2px;
          height: 2px;
          border-radius: 1px;
          background: $theme4;
          position: absolute;
          display: block;
          left: 50%;
          top: 50%;
          margin: -1px 0 0 -1px;
        }
        &:after {
          content: '';
          display: block;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          border-bottom: 0;
          width: 6px;
          height: 4px;
          left: 1px;
          bottom: 6px;
          position: absolute;
          transform-origin: 0 100%;
          transition: all $animationSpeedDefault;
          transform: rotate(-35deg) translate(0, 1px);
        }
      }
    }
    &:checked {
      & + span {
        &:before {
          background: rgba($theme1, 0.35);
        }
        &:after {
          background: $theme4;
          transform: translate(18px, 0);
        }
        .locker {
          transform: translate(18px, 0);
          background: $theme1;
          &:after {
            border-color: $theme1;
            transform: rotate(0deg) translate(0, 0);
          }
        }

        .textLabelUnchecked {
          display: none;
        }

        .textLabelChecked {
          display: block;
        }
      }
    }
  }
}
