@import 'scss/variables';

@mixin media-sm {
  @media (min-width: 650px) {
    @content;
  }
}

.navigation {
  min-width: 220px;
  cursor: pointer;
  background: $theme1;

  > ul {
    overflow-y: auto;
    overflow-x: hidden;

    li {
      position: relative;
      color: $theme6;

      a {
        position: relative;
        display: flex;
        align-items: center;
        white-space: nowrap;
        text-decoration: none;
        color: $theme6;
        padding: 2em;
        &:last-child {
          padding-bottom: 0;
        }
        font-size: 0.9em;

        i {
          font-size: 0.9em;
          margin-right: 17px;
          line-height: 0;
        }
      }

      &:hover {
        background: $theme1;

        a {
          color: $theme4;
        }

        > ul {
          > li {
            @include media-sm {
              max-height: 100px;
              transition: max-height 0s;
            }
          }
        }
      }
    }
  }
}

.secondNav {
  padding-left: 20px !important;
  overflow: hidden;

  li {
    max-height: 0px;
    transition: max-height 1.25s;

    a {
      text-transform: initial;
      color: inherit;
    }
  }
}

.opened {
  width: 275px;

  > * {
    opacity: 1;
    transition: opacity 1.25s;
  }
}

.closed {
  width: 0;

  > * {
    opacity: 0;
    transition: opacity 0.25s;
  }
}

.link {
  a {
    display: flex;

    img {
      margin-left: auto;
    }
  }

  &:hover {
    a {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

.active {
  > a {
    background: $theme1;
  }
}
