@import 'scss/variables';
@import 'scss/mixins/fontSize';
@import 'scss/mixins/zindex';

.wrapper {
  position: fixed;
  left: 0;
  @include z-index(navigation);
  width: 40px;
  height: 100%;
  background: $theme2;
  color: $theme7;
  cursor: pointer;
  transition: 300ms all;

  .userAvatar {
    display: block;
    margin-left: 4px;

    img {
      margin-top: 5px;
      margin-bottom: $margin2;
      width: 32px;
      border: 4px solid $theme0;
    }
  }

  li {
    display: flex;
    margin-top: $margin3;
    padding: 0 $margin2;

    &:first-child {
      margin-top: 0;
    }

    a {
      display: flex;
      align-items: center;
      opacity: 0.8;
    }

    i {
      @include font-size(lg);
    }

    span {
      margin-left: $margin2;
      transition: opacity 100ms 0ms;
      display: none;
      opacity: 0;
    }

    // color of item on hover
    &:hover {
      a,
      span {
        opacity: 1;
        color: $theme5;
      }
    }
  }

  &:hover {
    width: 200px;

    li {
      a {
        opacity: 1;

        span {
          position: absolute;
          left: 35px;
          opacity: 1;
          transition-delay: 200ms;
          display: block;
        }
      }
    }
  }
}
