@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  @include font-size(sm);
  border-radius: $borderRadius;
  background: $theme1;
  cursor: pointer;

  .notificationIcon {
    max-width: 30px;
    margin-right: 5px;
  }

  .desc {
    margin-right: auto;
  }

  &:hover {
    .close {
      opacity: 1;
    }
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    opacity: 0.4;

    .iconClose {
      position: absolute;
      color: $theme9;
      display: flex;
      @include font-size(md);
    }

    .circularProgressbar {
      width: 100%;
      vertical-align: middle;
      margin-left: auto;
      width: 30px;

      > * {
        &:nth-child(1) {
          stroke: $theme9;
        }

        &:nth-child(2) {
          stroke: $theme9;
        }
      }
    }
  }
}
