@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper('bgdefault');
  border-radius: 20px;
  position: relative;
  width: 100%;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);

  .wrapper {
    display: flex;
    min-height: 100%;
  }

  .groupContent {
    width: 100%;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    background: $theme1;

    .groupPostsListWrapper {
      width: 100%;

      > div {
        margin: 10px;
        border-radius: $borderRadius;
      }

      .posts {
        display: flex;
        margin-top: 0;

        .postCreate {
          display: flex;
          padding: 10px;
          border-radius: $borderRadius;
          background: $theme0;
          margin-bottom: 10px;
        }

        .post {
          padding: 10px;
          margin-bottom: 10px;
          border: 2px solid $theme0;

          &:hover {
            border-color: $theme4;
            opacity: 1;

            .header {
              .deleteBtn {
                opacity: 0.8;
              }
            }
          }

          &.active {
            border-color: $theme4;
            opacity: 1;
          }
        }
      }

      .noPostsFound {
        margin: 10px;
        padding: 20px;
        background: white;

        .postCreate {
          background: $theme0;
          padding: 10px;
          border-radius: $borderRadius;
        }

        .header {
          @include font-weight(semiNormal);
          @include font-size(lg);
          margin-bottom: 20px;

          span {
            @include font-weight(semiBold);
          }
        }
      }

      .pagination {
        justify-content: center;
        margin: 30px 0;
      }
    }
  }

  .userPreviewWrapper {
    position: fixed;
    left: 0;
    bottom: -150px;
    width: 100%;
    height: 150px;
    background: $theme0;
    box-shadow: 0px 0px 62px -26px rgba(0, 0, 0, 0.35);
    transition: bottom 0.25s ease-in-out;

    &.active {
      bottom: 0;
    }
  }
}
