@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  width: 100%;
  position: relative;
  margin: 40px;
  display: flex;
  border-radius: 10px;

  .wrapper {
    width: 100%;
    border-radius: $borderRadius;

    .tags {
      width: 100%;
      margin-top: 10px;
    }

    .header {
      display: flex;
      grid-gap: 5px;
      padding: 5px;
      max-width: 50%;
      border-radius: $borderRadius;
      background-color: $theme1;
    }

    .content {
      display: none;
      .groupMembers {
        margin-top: 10px;
        padding: 10px;
        border-radius: $borderRadius;
      }

      .posts {
        display: flex;
        border-radius: $borderRadius;

        > div {
          width: 100%;
        }

        .postCreate {
          display: flex;
          margin: 10px;
          border-radius: $borderRadius;
        }

        .postDetails {
          margin-left: 10px;
        }
      }

      .noPostsFound {
        padding: 20px;
        border-radius: $borderRadius;

        .postCreate {
          padding: 10px;
          border-radius: $borderRadius;
        }

        .header {
          @include font-weight(semiNormal);
          @include font-size(lg);
          margin-bottom: 20px;

          span {
            @include font-weight(semiBold);
          }
        }
      }

      .pagination {
        justify-content: center;
        margin: 30px 0;
      }
    }
  }
}
