@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  max-width: 600px;
  margin-left: 0;
}

.wrapper {
  display: flex;
  height: 100%;
  padding: 10px;

  .spinner {
    margin: auto;
  }

  .userHeader {
    display: flex;
    align-items: center;

    .avatarWrapper {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;

      .avatar {
        cursor: pointer;
      }
    }

    .userName {
      @include font-size(xlg);
      font-weight: 500;
      margin-left: 10px;

      &:hover {
        div > span {
          color: $theme4;
        }
      }
    }

    .desc {
    }
  }

  .userTags {
    margin-top: 10px;
  }
}
