@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize';

.wrapper {
  padding: 10px;

  .avatar {
    cursor: pointer;

    img {
      border-radius: $borderRadius;
    }
  }

  .desc {
    margin-top: 10px;
  }

  .userTags {
    margin-top: 10px;
  }

  .userName {
    &:hover {
      div > span {
        color: $theme5;
      }
    }
  }

  .visibleForOwner {
    margin-left: 20px;
    padding-left: 20px;

    > div {
      margin-bottom: 20px;
    }
  }

  .deleteAccount {
    &:hover {
      > button {
        color: $theme5;
      }
    }
  }
}
