@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.pageWrapper {
  @include pageWrapper();
  max-width: 600px;
  padding-left: 6px;
  margin-left: -6px;
}

.wrapper {
  // for centering loading spinner
  display: flex;
  flex-direction: column;

  padding: 20px;

  .spinner {
    margin: auto;
  }

  .navigation {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;

    h2 {
      @include font-weight(semiBold);
      text-transform: uppercase;
      @include font-size(xmd);
    }

    ul {
      display: flex;
      align-items: center;
      @include font-size(xdefault);

      li {
        margin-left: 10px;
        padding: 5px 15px;
        border-radius: $borderRadius;
        background: $theme2;

        &:hover {
          background: $theme4;
          color: $theme0;
        }
      }
    }
  }

  .hint {
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: $borderRadius;
    background: $theme4;
    color: $theme0;
    @include font-weight(semiBold);

    span {
      @include font-size(sm);
      @include font-weight(light);
      display: block;
      margin-top: 2px;
      opacity: 0.9;
    }

    &:after {
      position: absolute;
      left: 50px;
      bottom: -10px;
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $theme4;
    }
  }

  .userHeader {
    display: flex;
    align-items: center;

    .avatarWrapper {
      min-width: 100px;
      min-height: 100px;
      border-radius: 50%;
      overflow: hidden;

      .avatar {
        cursor: pointer;
      }
    }

    .userNameSurnameLogin {
      @include font-size(xlg);
      @include font-weight(semiBold);
      margin-left: 15px;

      .login {
        display: block;
        @include font-size(md);
        color: $theme9;
      }

      &:hover {
        div > span {
          color: $theme4;
        }
      }
    }

    .desc {
      margin-left: 15px;
      font-style: italic;
      color: $theme9;

      .aboutMeLabel {
        font-style: initial;
        text-transform: uppercase;
        @include font-size(sm);
      }
    }
  }

  .links {
    display: flex;
    margin: 10px 0;

    .item {
      margin-right: 10px;

      .btn {
        @include buttonDefault();
        @include buttonSizeDefault();
        @include buttonShapePrimary();
        @include buttonColorsDefault();

        i {
          margin-right: 3px;
        }

        &:hover {
          @include buttonColorsPrimary();
        }
      }
    }
  }

  .userTags {
    margin-top: 10px;

    span {
      // @todo create mixin of that
      display: inline-block;
      @include font-size(xxs);
      text-transform: uppercase;
      margin-bottom: 3px;
    }
  }

  .userStats {
    display: flex;
    margin: 10px 0;
    text-transform: uppercase;

    .item {
      margin-right: 40px;

      span {
        display: block;
        @include font-size(xdefault);
        @include font-weight(bold);
      }
    }
  }

  .userGroups {
    span {
      // @todo create mixin of that
      display: inline-block;
      @include font-size(xxs);
      text-transform: uppercase;
      margin-bottom: 3px;
    }
  }

  .userLastPosts {
    span {
      // @todo create mixin of that
      display: inline-block;
      @include font-size(xxs);
      text-transform: uppercase;
      margin-bottom: 3px;
    }
    ul {
      li {
        width: 100%;
        height: 350px;
        margin-top: 10px;
        border-radius: $borderRadius;
        background: $theme2;
      }
    }
  }
}
