@import '~@gtms/styles/scss/mixins/buttons';

.btn {
  width: 100%;
  @include buttonDefault();

  &:hover {
    @include buttonColorsHoverDefault();
  }
}

.textarea {
  border-radius: 5px;
  padding: 5px;
}
