@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';

.btn {
  @include buttonDefault();
  @include buttonSizeDefault();
  @include buttonShapeDefault();
  @include buttonWithIcon('left');
  @include buttonWithSpinnerAndLabel('left');
  @include buttonColorsSecondary();
  margin-top: 8px;
  width: 100%;

  &:hover {
    @include buttonColorsPrimary();
  }
}

.check {
  @include fontSize(xmd);
}

.description {
  cursor: pointer;

  &:hover {
    color: $theme4;
  }
}
