@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';

.wrapper {
  position: relative;
  width: 100%;
  @include gridDefault(6);

  .emptyBox {
    width: 100%;
    height: 150px;
    background: $theme9;
    border-radius: $borderRadius;
  }

  .btnWrapper {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $borderRadius;
    background: $theme9;

    .addButton {
      @include buttonDefault();
      @include buttonSizeDefault();
      @include buttonShapeDefault();
      @include buttonWithIcon();
      @include buttonColorsSecondary();

      i {
        margin-right: 3px;
      }

      &:hover {
        @include buttonColorsPrimary();
      }
    }
  }
}
