@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';

.wrapper {
  width: 100%;

  .noPostsFound {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: $borderRadius;
    background: $theme1;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 900px;
      padding: 40px 20px;

      .header {
        @include font-weight(semiNormal);
        @include font-size(lg);
        margin-bottom: 20px;

        span {
          @include font-weight(semiBold);
        }
      }

      .image {
        img {
          max-width: 200px;
        }
      }
    }
  }

  .tags {
    position: relative;
    @include gridDefault(6);

    .emptyBox {
      width: 100%;
      height: 150px;
      background: $theme9;
      border-radius: $borderRadius;
    }

    .btnWrapper {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $borderRadius;
      background: $theme9;

      .addButton {
        @include buttonDefault();
        @include buttonSizeDefault();
        @include buttonShapeDefault();
        @include buttonWithIcon();
        @include buttonColorsSecondary();

        i {
          margin-right: 3px;
        }

        &:hover {
          @include buttonColorsPrimary();
        }
      }
    }
  }
}
