@import 'scss/variables';

.search {
  margin-bottom: 1em; // @todo put it to variable somehow
  padding: 0.5em; // @todo put it to variable somehow
  color: $theme7;
  background: $theme1;
  border: 1px solid $theme7;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  .tags {
    display: flex;

    .tag {
      margin-left: 0.5em; // @todo put it to variable somehow

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .locations {
    display: flex;
  }

  .groups {
    display: flex;
  }

  &.active {
    border-color: $theme5;
    background: $theme5;
  }
}
