@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';

.wrapper {
  width: 100%;
  @include imageCover();
  background: $theme1;

  .header {
    @include font-weight(semiBold);
    @include font-size(xlg);
  }

  .text {
    @include font-size(md);
    color: $theme9;
  }

  .steps {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 50px;

    &.showCover {
      min-height: 300px;
    }
  }

  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    &.one {
      text-align: center;

      .buttons {
        display: flex;
        justify-content: center;
        @include gridTwoButtons();
        margin-top: 20px;

        .btn {
          @include buttonDefault();
          @include buttonSizeDefault();
          @include buttonShapeDefault();
          @include buttonColorsTertiary();
          @include buttonSizeMd();
          @include buttonWithIcon();

          &:hover {
            @include buttonColorsPrimary();
          }
        }
      }

      .icon,
      .header {
        opacity: 0.65;
      }

      .icon {
        display: inline-block;
        line-height: 0;
        font-size: 100px;
        color: $theme9;
      }
    }

    &.two {
      position: absolute;
      top: -500px;
      width: 100%;
      height: 100%;
      @include imageCover();
      border-radius: $borderRadius;
      transition: top 0.3s ease-in-out;

      &.active {
        top: 0;
      }

      .header,
      .text {
        @include font-weight(semiBold);
        @include font-size(lg);
      }

      &.active {
        .header,
        .text {
          display: none;
        }
      }

      .header {
        margin-top: 25px;
      }

      .text {
        margin-left: 5px;
      }

      .buttons {
        position: absolute;
        top: 15px;
        right: 15px;
        @include gridDefault(2);

        .btn {
          @include buttonDefault();
          @include buttonSizeDefault();
          @include buttonShapeDefault();
          @include buttonWithIcon();
          @include buttonColorsTertiary();

          &:hover {
            @include buttonColorsPrimary();
          }
        }
      }
    }
  }

  .choosePhoto {
    width: 100%;
    margin-top: 10px;
    visibility: hidden;
    transition: 2s ease;
    height: 0;

    &.active {
      visibility: visible;
      height: auto;

      ul {
        opacity: 1;
      }
    }

    .fileUpload {
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .items {
      display: grid;
      transition: opacity 2s ease;
      transition-delay: 0.25s;
      opacity: 0;
      @include gridDefault(6);
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      list-style-type: none;

      .item {
        width: 100%;
        height: 100px;
        border-radius: $borderRadius;
        cursor: pointer;
        @include imageCover();

        // @todo create mixin for that
        position: relative;
        overflow: hidden;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 4px solid $theme4;
          background: rgba($theme4, 0.2);
          opacity: 0;
        }
        &:hover,
        &.active {
          &:after {
            opacity: 1;
          }
        }
      }

      .noCover {
        text-align: center;
        i {
          display: block;
          margin: 5px auto;
          svg {
            width: 2.5em;
            height: 2.5em;
          }
        }
        padding: 5px;
      }
    }
  }
}
