@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/focusElementEffects.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';
@import '~@gtms/styles/scss/mixins/mediaQueries.scss';

.wrapper {
  width: 100%;
  @include imageCover();
  background: $theme3;

  .header {
    @include fontWeight(semiBold);
    @include fontSize(xlg);
  }

  .text {
    @include fontSize(md);
    color: $theme3;
  }

  .steps {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 50px;

    &.showCover {
      min-height: 300px;
      max-height: 300px;
    }
  }

  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    &.one {
      padding: 20px;
      text-align: center;

      .buttons {
        display: flex;
        justify-content: center;
        @include gridTwoButtons();
        margin-top: 10px;

        .btn {
          @include buttonDefault();
          @include buttonSizeDefault();
          @include buttonShapeDefault();
          @include buttonColorsSecondary();
          @include buttonWithIcon('left');

          &:hover {
            @include buttonColorsPrimary();
          }
        }
      }

      .icon,
      .header {
        opacity: 0.65;
      }

      .icon {
        display: inline-block;
        line-height: 0;
        @include fontSize(xxxlg);
        color: $theme0;
      }
    }

    &.two {
      position: absolute;
      top: -500px;
      width: 100%;
      height: 100%;
      @include imageCover();
      border-radius: $borderRadius;
      transition: top 0.3s ease-in-out;

      &.active {
        top: 0;
      }

      .header,
      .text {
        @include fontWeight(semiBold);
        @include fontSize(lg);
      }

      &.active {
        .header,
        .text {
          display: none;
        }
      }

      .header {
        margin-top: 25px;
      }

      .text {
        margin-left: 5px;
      }

      .buttons {
        position: absolute;
        top: 10px;
        right: 0px;
        display: flex;

        .btn {
          @include buttonDefault();
          @include buttonSizeSm();
          @include buttonShapeDefault();
          @include buttonWithIcon('left');
          @include buttonColorsSecondary();
          margin-right: 10px;

          &:hover {
            @include buttonColorsPrimary();
          }
        }
      }
    }
  }

  .choosePhoto {
    width: 100%;
    visibility: hidden;
    transition: 2s ease;
    height: 0;
    padding: 10px;

    &.active {
      visibility: visible;
      height: auto;

      ul {
        opacity: 1;
      }
    }

    .fileUpload {
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .items {
      display: grid;
      transition: opacity 2s ease;
      transition-delay: 0.25s;
      opacity: 0;
      @include gridDefault(6);
      grid-template-columns: 1fr 1fr;
      list-style-type: none;

      @include for-desktop-only {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }

      .item {
        width: 100%;
        height: 100px;
        border-radius: $borderRadius;
        cursor: pointer;
        @include imageCover();

        &:hover,
        &.active {
          @include effectColorTransparentOverlay('defaultRadius', 4px);
        }
      }

      .noCover {
        padding: 10px;
        @include fontSize(sm);
        text-align: center;

        i {
          display: block;
          margin: 5px auto;

          svg {
            width: 2.5em;
            height: 2.5em;
          }
        }
      }
    }
  }
}
