@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/grid.scss';
@import '~@gtms/styles/scss/mixins/imageCover.scss';

.wrapper {
  width: 100%;
  min-height: 300px;
  @include imageCover();
  background: $theme2;

  .header {
    @include font-weight(semiBold);
    @include font-size(xlg);
  }

  .text {
    @include font-size(md);
    color: $theme9;
  }

  .steps {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 300px;
  }

  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    &.one {
      text-align: center;

      .buttons {
        display: flex;
        justify-content: center;
        @include gridTwoButtons();

        .btn {
          @include buttonDefault();
          @include buttonSizeDefault();
          @include buttonShapePrimary();
          @include buttonColorsTertiary();
          @include buttonSizeMd();
          @include buttonWithIcon();

          &:hover {
            @include buttonColorsPrimary();
          }
        }
      }

      .icon,
      .header {
        opacity: 0.65;
      }

      .icon {
        display: inline-block;
        line-height: 0;
        font-size: 100px;
        color: $theme9;
      }
    }

    &.two {
      position: absolute;
      top: -500px;
      width: 100%;
      height: 100%;
      transition: top 0.3s ease-in-out;
      background: $theme2;

      &.active {
        top: 0;
      }

      .header,
      .text {
        @include font-weight(semiBold);
        @include font-size(lg);
      }

      .header {
        margin-top: 25px;
      }

      .text {
        margin-left: 5px;
      }

      .btn {
        position: absolute;
        top: 15px;
        right: 15px;
        @include buttonDefault();
        @include buttonSizeDefault();
        @include buttonShapePrimary();
        @include buttonWithIcon();
        @include buttonColorsTertiary();

        &:hover {
          @include buttonColorsPrimary();
        }
      }
    }
  }

  .choosePhoto {
    width: 100%;
    padding: 10px;
    visibility: hidden;
    transition: 2s ease;
    height: 0;

    &.active {
      visibility: visible;
      height: auto;

      ul {
        opacity: 1;
      }
    }

    ul {
      display: grid;
      transition: opacity 2s ease;
      transition-delay: 0.25s;
      opacity: 0;
      @include gridDefault(6);
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      list-style-type: none;

      .fileUpload {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      li {
        background: $theme4;
        width: 100%;
        height: 100px;

        &:first-child {
          background: none;
        }
      }
    }
  }
}
