@import '~@gtms/styles/scss/variables.scss';

.flipBox {
  perspective: 1000;

  .back,
  .front {
    position: relative;
    transition: all 1000ms cubic-bezier(0.5, 1.3, 0.5, 1.3);
    transform-style: preserve-3d;
    height: 100%;
  }

  .back {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    transform: rotateX(-180deg);
    > * {
      opacity: 0;
      transition: opacity 0ms $animationSpeedSlow;
    }
  }

  .front {
    z-index: 1;

    > * {
      opacity: 1;
      transition: opacity 1500 0ms;
    }
  }

  &.active {
    .back {
      visibility: visible;
      transform: rotateX(0deg);
      z-index: 1;

      > * {
        opacity: 1;
        transition: opacity 1500 0ms;
      }
    }

    .front {
      transform: rotateX(180deg);
      z-index: -1;

      > * {
        opacity: 0;
        transition: opacity 0ms $animationSpeedSlow;
      }
    }
  }
}
