@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/zindex';

.wrapper {
  flex-direction: column;
  @include z-index(navigationGroup);
  border-right: 1px solid $theme4;

  > div {
    &:hover {
      h2 {
        color: $theme5;
      }
    }
  }

  h2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: $theme3;

    i {
      display: flex;
      margin-right: 5px;
      font-size: 18px;
    }
  }

  .linksMock {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    li {
      position: relative;
      margin-bottom: 10px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;

        i {
          @include font-size(md);
          line-height: 0;
          display: block;
          color: $theme7;
        }

        span {
          margin-left: 10px;
          color: $theme7;
        }
      }

      &:hover {
        i,
        a,
        span {
          color: $theme5;
        }
      }
    }
  }
}
