@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/zindex';

.wrapper {
  display: flex;
  flex-direction: column;
  @include z-index(navigationGroup);
  margin-right: 5px;

  h2 {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: $theme5;

    i {
      display: flex;
      margin-right: 5px;
      font-size: 18px;
    }
  }

  .linksMock {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    li {
      position: relative;
      border-radius: 5px;
      margin-bottom: 10px;
      font-weight: 500;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $theme4;

        i {
          @include font-size(md);
          line-height: 0;
          font-weight: 200;
          display: block;
        }

        span {
          margin-left: 10px;
          font-weight: 200;
        }
      }

      &:hover {
        i,
        a {
          color: $theme5;
        }
      }
    }
  }
}
