@import '~@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/zindex';

.navigationGroup {
  display: flex;
  justify-content: center;
  @include z-index(navigationGroup);
  width: 55px;
  min-width: 55px;
  background: $theme4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  > li {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;

    // @todo separate component?
    .item {
      width: 40px;
      height: 40px;
      margin-top: 5px;
      background: $theme1;
      background-size: cover; // @todo move to mixin
      border-radius: 5px;
      cursor: pointer;
      transition: 200ms all;
    }

    &:hover {
      transition-delay: 200ms;

      .item {
        width: 45px;
        height: 45px;
      }
    }
  }
}
