@import 'scss/variables';

$color1: $theme1;

.animated {
  position: relative;
  background-color: $color1;
  margin: auto;

  img {
    max-width: 100%;
  }  
  
  .content {
    animation: sk-rotatePlane 1.8s ease-in-out;
    animation-iteration-count: 1;

    &.infinite {
      animation-iteration-count: infinite;
    }

    @keyframes sk-rotatePlane {
      0% {
        transform: perspective(600px) rotateX(0deg) rotateY(0deg);
      }
      30% {
        transform: perspective(600px) rotateX(10deg) rotateY(-20deg);
      }
      60% {
        transform: perspective(600px) rotateX(0deg) rotateY(20deg);
      }
      0% {
        transform: perspective(600px) rotateX(0deg) rotateY(0deg);
      }
    }
  }
}
