@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  position: relative;
  overflow: hidden; // for delete post component that overflows this component
  cursor: pointer;

  &:hover {
    .header .deleteBtn {
      opacity: 0.5;
    }
  }

  .header {
    display: flex;
    align-items: center;
    @include font-weight(semiBold);

    .user {
      display: flex;
      align-items: center;

      // @todo create mixin with highlighted text
      &:hover {
        color: $theme4;
      }

      .userAvatar {
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
      }
    }

    span {
      margin-left: 5px;

      // @todo create mixin with highlighted text
      &:hover {
        color: $theme4;
      }
    }

    .deleteBtn {
      margin-left: auto;
      cursor: pointer;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  .desc {
    margin-top: -15px;
    margin-left: 40px;

    .text {
      margin-bottom: 10px;

      > * {
        white-space: pre-wrap; // it helps to avoid overwidth of element with code inside
      }
    }
  }
}
