@import 'scss/variables';

.container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .avatar {
    max-width: 25px;
  }

  .userName {
    margin: 0 0.7em;
    color: $color1;

    span {
      margin-left: 0.3em;
    }
  }

  &:hover {
    background: $theme4;

    .userName {
      color: $theme6;
    }
  }
}
