@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/mediaQueries.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.wrapper {
  @include pageWrapper();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $black;

  .image {
    img {
      width: 100%;
      max-width: 600px;
    }
  }

  .btn {
    @include buttonDefault();
    @include buttonSizeLg();
    @include buttonShapeRoundedSides();
    @include buttonColorsTertiary();
    @include buttonWithIcon('left');
    margin-top: 50px;

    &:hover {
      @include buttonColorsPrimary();
    }
  }
}
