@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.wrapper {
  @include pageWrapper('bgdefault');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .image {
    img {
      max-width: 700px;
    }
  }

  .btn {
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapePrimary();
    @include buttonSizeMd();
    @include buttonWithIcon();
    @include buttonColorsDefault();

    &:hover {
      @include buttonColorsPrimary();
    }
  }
}
