@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/zindex.scss';

.sidebar {
  display: flex;
  height: 100%;

  .sidebarContent {
    position: fixed;
    top: 0;
    @include z-index(sidebar);
    height: 100%;
    background-color: $theme1;
    transition: all $animationSpeedDefault;
  }

  &.leftSide {
    .sidebarContent {
      left: -250px;
    }

    &.opened {
      .sidebarContent {
        left: 0;
      }
    }
  }

  &.rightSide {
    .sidebarContent {
      right: -250px;
    }

    &.opened {
      .sidebarContent {
        right: 0;
      }
    }
  }
}
