@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/zindex.scss';

.recentlyCreatedGroups {
  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 20px;

    .gridCard {
      min-height: 200px;
    }
  }
}
