@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.btn {
  @include buttonDefault();
  @include buttonSizeSm();
  @include buttonShapeDefault();
  @include buttonWithIcon('withoutText');
  @include buttonWithSpinner();
  @include buttonColorsDefault();
  @include font-size(md);
  width: 100%;
  color: $theme0;

  &:hover {
    @include buttonColorsPrimary();
  }

  span {
    display: none;
  }
}
