@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons.scss';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';

.wrapper {
  display: flex;
  text-transform: uppercase;

  .btn {
    @include buttonDefault();
    @include buttonWithIcon();
    @include buttonWithSpinner();
    @include font-weight(normal);
    color: $theme9;

    i {
      @include font-size(xmd);
      margin-right: 5px;
    }

    &:hover {
      @include buttonColorBlue();
    }
  }
}
