@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/mixins/fontWeight';
@import '~@gtms/styles/scss/mixins/grid.scss';
@import '~@gtms/styles/scss/mixins/pageWrapper.scss';

.wrapper {
  > .header {
    @include fontWeight(normal);
    @include fontSize(md);
    margin: 10px 0;
  }

  .list {
    @include gridDefault(2);

    .item {
      padding: 10px;
      background: $theme9;
      border: 2px solid $theme1;
      border-radius: $borderRadius;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }

      &:hover {
        border-color: $theme4;
      }

      .header {
        @include fontWeight(normal);
      }

      > div {
        margin-bottom: 5px;
      }

      .row {
        @include gridDefault(2);
      }
    }
  }
}
