@import '~@gtms/styles/scss/variables.scss';

.wrapper {
  position: relative;
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  border-radius: 50%;
  height: 60px;

  > div {
    animation-play-state: paused;
    border: 5px solid rgba($theme0, 0.9);
    border-radius: 50%;
    animation: rotate 1s infinite linear;
    border-left-color: rgba($theme0, 0.4);
    width: 100%;
    height: 100%;
  }

  i {
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: $theme0;
    width: 24px;
    height: 24px;
    line-height: 1;
    transform: scale(0) translate3d(0, 0, 0);

    &:nth-of-type(1) {
      animation: loadicons 3s infinite ease-in-out;
    }

    &:nth-of-type(2) {
      animation: loadicons 3s 1s infinite ease-in-out;
    }

    &:nth-of-type(3) {
      animation: loadicons 3s 2s infinite ease-in-out;
    }
  }

  &.sm {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;

    > div {
      border-width: 3px;
    }

    i {
      font-size: 12px;
      width: 12px;
      height: 12px;
    }
  }

  &.xsm {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;

    i {
      display: none;
    }
  }

  &.centered {
    margin: auto;
  }
}

@keyframes loadicons {
  0% {
    transform: scale(0) translate3d(0, 0, 0);
  }

  11% {
    transform: scale(1.2) translate3d(0, 0, 0);
  }

  22% {
    transform: scale(1) translate3d(0, 0, 0);
  }

  33% {
    transform: scale(0) translate3d(0, 0, 0);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
