@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/variables.scss';

.navigation {
  margin-bottom: 20px;
  cursor: pointer;

  .items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include fontSize(xdefault);

    .item {
      a {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: $borderRadius;
        background: $theme3;

        i {
          margin-right: 5px;
          line-height: 0;
        }

        &:hover {
          background: $theme4;
          color: $theme0;
        }
      }

      &.current {
        a {
          background: $theme4;
          color: $theme0;
        }
      }
    }
  }
}
