@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/fontSize.scss';
@import '~@gtms/styles/scss/variables.scss';

.navigation {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;

  .header {
    @include font-size(xmd);
    @include font-weight(semiBold);
    text-transform: uppercase;
  }

  .items {
    display: flex;
    align-items: center;
    @include font-size(xdefault);

    .item {
      a {
        display: flex;
        align-items: center;
        margin-left: 10px;
        padding: 5px 15px;
        border-radius: $borderRadius;
        background: $black;

        i {
          margin-right: 5px;
          line-height: 0;
        }

        &:hover {
          background: $theme4;
          color: $theme0;
        }
      }

      &.current {
        a {
          background: $theme4;
          color: $theme0;
        }
      }
    }
  }
}
