@import '@gtms/styles/scss/variables';
@import '~@gtms/styles/scss/mixins/buttons';
@import '~@gtms/styles/scss/mixins/fontSize';
@import '~@gtms/styles/scss/mixins/fontWeight.scss';
@import '~@gtms/styles/scss/mixins/imageCover';

.wrapper {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 40px;
  width: 700px;
  max-height: 85%;
  background: #bdd3eb;
  color: #584147;
  @include imageCover();

  h2 {
    @include font-weight(bold);
    @include font-size(xxlg);
    text-transform: uppercase;

    .subheader {
      display: block;
      @include font-size(lg);
      text-transform: initial;
    }
  }

  .btn {
    @include buttonDefault();
    @include buttonSizeDefault();
    @include buttonShapePrimary();
    @include buttonColorsDefault();
    &:hover {
      @include buttonColorsPrimary();
    }
  }
}
