@import '~@gtms/styles/scss/variables.scss';
@import '~@gtms/styles/scss/mixins/buttons';

.wrapper {
  padding: 20px;

  h2 {
    color: $theme2;
    margin-bottom: 20px;
  }

  .btn {
    @include buttonDefault();
    @include buttonColorsHoverDefault();
    width: 100%;
    color: white;
  }
}
